In [6]:
import pandas

# First Python Notebook

Hello world!

In [7]:
import pandas as pd

In [5]:
%matplotlib inline

In [6]:
pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name,committee_position
0,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,382,1374469,YES ON PROPOSITION 51 - CALIFORNIANS FOR QUALI...,SUPPORT
1,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,383,1220380,COMMUNITY COLLEGE FACILITY COALITION ISSUES CO...,SUPPORT
2,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,384,1282321,TORLAKSON'S INVEST IN CALIFORNIA A BALLOT MEAS...,SUPPORT
3,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,385,1382843,CALIFORNIA TAXPAYERS AND EDUCATORS OPPOSED TO ...,OPPOSE
4,ocd-contest/85990193-9d6f-4600-b8e7-bf1317841d82,1362198,71,PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...,386,1362973,YES ON PROPOSITION 52 - A COALITION OF CALIFOR...,SUPPORT
5,ocd-contest/85990193-9d6f-4600-b8e7-bf1317841d82,1362198,71,PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...,387,1381488,CALIFORNIANS FOR HOSPITAL ACCOUNTABILITY AND Q...,OPPOSE
6,ocd-contest/85990193-9d6f-4600-b8e7-bf1317841d82,1362198,71,PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...,388,1373047,"SERVICE EMPLOYEES INTERNATIONAL UNION, UNITED ...",OPPOSE
7,ocd-contest/9fb6a199-7520-433c-a290-83e016a9d389,1376142,72,PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...,389,1376040,YES ON 53 - STOP BLANK CHECKS,SUPPORT
8,ocd-contest/9fb6a199-7520-433c-a290-83e016a9d389,1376142,72,PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...,390,1378875,NO ON PROP 53 - CALIFORNIANS TO PROTECT LOCAL ...,OPPOSE
9,ocd-contest/9fb6a199-7520-433c-a290-83e016a9d389,1376142,72,PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...,391,761010,"CA BUSINESS PAC, SP0NSORED BY CA CHAMBER OF CO...",OPPOSE
10,ocd-contest/9fb6a199-7520-433c-a290-83e016a9d389,1376142,72,PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...,392,1389930,"NO ON 53, NEIGHBORS DEFENDING LOCAL CONTROL",OPPOSE
11,ocd-contest/e0c5f9f0-63a9-4c15-9a5c-017e20ac15bc,1381642,73,PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...,396,1389997,CALIFORNIA COMMON CAUSE -- YES ON 54 AND 59 (N...,SUPPORT
12,ocd-contest/e0c5f9f0-63a9-4c15-9a5c-017e20ac15bc,1381642,73,PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...,393,1381029,"YES ON 54 - VOTERS FIRST, NOT SPECIAL INTEREST...",SUPPORT
13,ocd-contest/e0c5f9f0-63a9-4c15-9a5c-017e20ac15bc,1381642,73,PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...,394,1386494,PROTEUS ACTION LEAGUE NON-PROFIT 501 (C)(4) OR...,SUPPORT
14,ocd-contest/e0c5f9f0-63a9-4c15-9a5c-017e20ac15bc,1381642,73,PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...,395,1385928,CALIFORNIANS FOR AN EFFECTIVE LEGISLATURE,OPPOSE
15,ocd-contest/446ec3da-7de1-45f0-9f97-228e53c6a9f6,1382647,74,PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...,397,1384591,MILLION VOTER PROJECT ACTION FUND - YES ON 55 ...,SUPPORT
16,ocd-contest/446ec3da-7de1-45f0-9f97-228e53c6a9f6,1382647,74,PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...,398,1381382,"YES ON 55 - CALIFORNIANS FOR BUDGET STABILITY,...",SUPPORT
17,ocd-contest/446ec3da-7de1-45f0-9f97-228e53c6a9f6,1382647,74,PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...,399,1391170,"MILLION VOTER PROJECT ACTION FUND - YES ON 55,...",SUPPORT
18,ocd-contest/446ec3da-7de1-45f0-9f97-228e53c6a9f6,1382647,74,PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...,400,1390602,"COMMON SENSE KIDS ACTION, INC., YES ON PROPS. ...",SUPPORT
19,ocd-contest/446ec3da-7de1-45f0-9f97-228e53c6a9f6,1382647,74,PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...,401,1385538,"CALIFORNIA KIDS CAMPAIGN, YES ON PROPS 55 & 56...",SUPPORT
20,ocd-contest/446ec3da-7de1-45f0-9f97-228e53c6a9f6,1382647,74,PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...,402,1385886,"NO ON PROPOSITION 55, CALIFORNIA'S FUTURE PAC,...",OPPOSE
21,ocd-contest/446ec3da-7de1-45f0-9f97-228e53c6a9f6,1382647,74,PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...,403,1372760,"PICO CALIFORNIA - YES ON 55, 56, AND 57 (NON P...",SUPPORT
22,ocd-contest/446ec3da-7de1-45f0-9f97-228e53c6a9f6,1382647,74,PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...,404,931704,UNITED TEACHERS LOS ANGELES-POLITICAL ACTION C...,SUPPORT
23,ocd-contest/c2efe0d3-e9f4-4dfd-a0b7-a35757ef4ae9,1381640,75,PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...,405,1388865,PROTECT SMALL BUSINESS AND SMOKE FREE ALTERNAT...,OPPOSE
24,ocd-contest/c2efe0d3-e9f4-4dfd-a0b7-a35757ef4ae9,1381640,75,PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...,406,1383858,"FIGHT CANCER - YES ON 56, SPONSORED BY AMERICA...",SUPPORT
25,ocd-contest/c2efe0d3-e9f4-4dfd-a0b7-a35757ef4ae9,1381640,75,PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...,407,1386637,NO ON 56 - STOP THE SPECIAL INTEREST TAX GRAB....,OPPOSE
26,ocd-contest/c2efe0d3-e9f4-4dfd-a0b7-a35757ef4ae9,1381640,75,PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...,408,1377991,"YES ON 56 - SAVES LIVES CALIFORNIA, A COALITIO...",SUPPORT
27,ocd-contest/c2efe0d3-e9f4-4dfd-a0b7-a35757ef4ae9,1381640,75,PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...,409,1384591,MILLION VOTER PROJECT ACTION FUND - YES ON 55 ...,SUPPORT
28,ocd-contest/c2efe0d3-e9f4-4dfd-a0b7-a35757ef4ae9,1381640,75,PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...,410,1385538,"CALIFORNIA KIDS CAMPAIGN, YES ON PROPS 55 & 56...",SUPPORT
29,ocd-contest/c2efe0d3-e9f4-4dfd-a0b7-a35757ef4ae9,1381640,75,PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...,411,1372760,"PICO CALIFORNIA - YES ON 55, 56, AND 57 (NON P...",SUPPORT
...,...,...,...,...,...,...,...,...
72,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,454,1380675,NEWSOM BALLOT MEASURE COMMITTEE; SAFETY FOR AL...,SUPPORT
73,ocd-contest/e02dc48a-2ed3-4a87-859b-26c90f0539e7,1381803,82,PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...,455,1387279,"VETO GUNMAGEDDON, CITIZENS WHO ARE OPPOSED TO ...",OPPOSE
74,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,456,1381808,"YES ON 64, CALIFORNIANS TO CONTROL, REGULATE A...",SUPPORT
75,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,457,1382525,NEW APPROACH PAC (MPO),SUPPORT
76,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,458,1376077,"CALIFORNIANS FOR SENSIBLE REFORM, SPONSORED BY...",SUPPORT
77,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,459,1382568,"PUBLIC AND MENTAL HEALTH ADVOCATES AGAINST 64,...",OPPOSE
78,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,460,1371855,"MARIJUANA POLICY PROJECT OF CALIFORNIA, YES ON 64",SUPPORT
79,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,461,1343793,"CALIFORNIANS FOR RESPONSIBLE MARIJUANA REFORM,...",SUPPORT
80,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,462,1386560,ADULT USE CAMPAIGN FOR PROPOSITION 64; THE,SUPPORT
81,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,463,1387789,"SAM ACTION, INC., A COMMITTEE AGAINST PROPOSIT...",OPPOSE
82,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,464,1385506,"DRUG POLICY ACTION - NON PROFIT 501C4, YES ON ...",SUPPORT
83,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,465,1385745,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),SUPPORT
84,ocd-contest/232cb72c-1b11-4293-b4e2-a181e80d172e,1381868,83,PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...,466,1390962,MOMS STRONG AGAINST PROP 64,OPPOSE
85,ocd-contest/cac74f20-f59f-4857-8750-5f832a3549c9,1381520,84,PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INIT...,467,1372902,"AMERICAN PROGRESSIVE BAG ALLIANCE, A PROJECT O...",SUPPORT
86,ocd-contest/19eca91d-e494-4ee0-a345-8f96eeec8a3e,1381724,85,PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...,468,1346266,"CALIFORNIANS TO MEND, NOT END, THE DEATH PENAL...",SUPPORT
87,ocd-contest/19eca91d-e494-4ee0-a345-8f96eeec8a3e,1381724,85,PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...,469,1302403,CALIFORNIA CORRECTIONAL PEACE OFFICERS ASSOCIA...,SUPPORT
88,ocd-contest/19eca91d-e494-4ee0-a345-8f96eeec8a3e,1381724,85,PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...,470,1385745,FUND FOR POLICY REFORM (NONPROFIT 501(C)(4)),OPPOSE
89,ocd-contest/19eca91d-e494-4ee0-a345-8f96eeec8a3e,1381724,85,PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...,471,1386494,PROTEUS ACTION LEAGUE NON-PROFIT 501 (C)(4) OR...,OPPOSE
90,ocd-contest/19eca91d-e494-4ee0-a345-8f96eeec8a3e,1381724,85,PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...,472,1380590,"YES ON 62, NO ON 66. REPLACE THE COSTLY, FAILE...",OPPOSE
91,ocd-contest/19eca91d-e494-4ee0-a345-8f96eeec8a3e,1381724,85,PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...,473,1391170,"MILLION VOTER PROJECT ACTION FUND - YES ON 55,...",OPPOSE
92,ocd-contest/19eca91d-e494-4ee0-a345-8f96eeec8a3e,1381724,85,PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...,474,1317554,SAN FRANCISCO POLICE OFFICERS ASSOCIATION ISSU...,SUPPORT
93,ocd-contest/19eca91d-e494-4ee0-a345-8f96eeec8a3e,1381724,85,PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...,475,1336580,LOS ANGELES POLICE PROTECTIVE LEAGUE ISSUES PA...,SUPPORT
94,ocd-contest/19eca91d-e494-4ee0-a345-8f96eeec8a3e,1381724,85,PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...,476,1383946,"NO ON PROP 66, CALIFORNIANS FOR FAIR JUSTICE, ...",OPPOSE
95,ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95,1372638,86,PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...,477,1372900,"YES ON 67 - PROTECT THE PLASTIC BAG BAN, SPONS...",SUPPORT
96,ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95,1372638,86,PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...,478,1372902,"AMERICAN PROGRESSIVE BAG ALLIANCE, A PROJECT O...",OPPOSE
97,ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95,1372638,86,PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...,479,1329332,"SAVE THE BAG BAN, YES ON 67, SPONSORED BY ENVI...",SUPPORT
98,ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95,1372638,86,PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...,480,1374885,YES ON 67 - CALIFORNIANS AGAINST WASTE - PROTE...,SUPPORT
99,ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95,1372638,86,PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...,481,1346973,CALIFORNIA GROCERS ASSOCIATION ISSUES COMMITTE...,SUPPORT
100,ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95,1372638,86,PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...,482,1381938,SAVE THE BAY ACTION FUND PAC - YES ON PROP 67,SUPPORT
101,ocd-contest/7495cdbe-1aa7-4c26-9a55-aa4130347b95,1372638,86,PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...,483,1389817,SAVE THE BAY ACTION FUND COMMITTEE TO SUPPORT ...,SUPPORT

In [7]:
props = pd.read_csv("http://www.firstpythonnotebook.org/_static/committees.csv")

In [8]:
props.head()

,ocd_prop_id,calaccess_prop_id,ccdc_prop_id,prop_name,ccdc_committee_id,calaccess_committee_id,committee_name,committee_position
0,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,382,1374469,YES ON PROPOSITION 51 - CALIFORNIANS FOR QUALI...,SUPPORT
1,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,383,1220380,COMMUNITY COLLEGE FACILITY COALITION ISSUES CO...,SUPPORT
2,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,384,1282321,TORLAKSON'S INVEST IN CALIFORNIA A BALLOT MEAS...,SUPPORT
3,ocd-contest/b51dc64d-3562-4913-a190-69f5088c22a6,1376258,70,PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...,385,1382843,CALIFORNIA TAXPAYERS AND EDUCATORS OPPOSED TO ...,OPPOSE
4,ocd-contest/85990193-9d6f-4600-b8e7-bf1317841d82,1362198,71,PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...,386,1362973,YES ON PROPOSITION 52 - A COALITION OF CALIFOR...,SUPPORT

In [9]:
props.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
ocd_prop_id               102 non-null object
calaccess_prop_id         102 non-null int64
ccdc_prop_id              102 non-null int64
prop_name                 102 non-null object
ccdc_committee_id         102 non-null int64
calaccess_committee_id    102 non-null int64
committee_name            102 non-null object
committee_position        102 non-null object
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [10]:
contribs = pd.read_csv("http://www.firstpythonnotebook.org/_static/contributions.csv")

In [11]:
props.prop_name

0      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
1      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
2      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
3      PROPOSITION 051 - SCHOOL BONDS. FUNDING FOR K-...
4      PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...
5      PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...
6      PROPOSITION 052 - STATE FEES ON HOSPITALS. FED...
7      PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...
8      PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...
9      PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...
10     PROPOSITION 053 - REVENUE BONDS. STATEWIDE VOT...
11     PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...
12     PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...
13     PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...
14     PROPOSITION 054 - LEGISLATURE. LEGISLATION AND...
15     PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...
16     PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...
17     PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...
18     PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...
19     PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...
20     PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...
21     PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...
22     PROPOSITION 055 - TAX EXTENSION TO FUND EDUCAT...
23     PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...
24     PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...
25     PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...
26     PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...
27     PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...
28     PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...
29     PROPOSITION 056 - CIGARETTE TAX TO FUND HEALTH...
                             ...
72     PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...
73     PROPOSITION 063- FIREARMS. AMMUNITION SALES. I...
74     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
75     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
76     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
77     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
78     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
79     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
80     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
81     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
82     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
83     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
84     PROPOSITION 064- MARIJUANA LEGALIZATION. INITI...
85     PROPOSITION 065- CARRY-OUT BAGS. CHARGES. INIT...
86     PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...
87     PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...
88     PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...
89     PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...
90     PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...
91     PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...
92     PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...
93     PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...
94     PROPOSITION 066- DEATH PENALTY. PROCEDURES. IN...
95     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
96     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
97     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
98     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
99     PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
100    PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
101    PROPOSITION 067- REFERENDUM TO OVERTURN BAN ON...
Name: prop_name, Length: 102, dtype: object

In [12]:
Jobs = pd.read_csv("/Users/alexmahadevan/Desktop/Employment Projections.csv")

In [13]:
Jobs.head()

,Title,SOC_Code,2014,2024,Change,Percent,Openings_due_to_growth_replacement,2016_wage,Education,Education_code,Experience,Experience_code,Training,Training_code
0,Accountants and auditors \t \t\t\t\tShow/h...,13-2011,"1,332.70","1,475.10",142.4,10.7,498,"68,150",Bachelor's degree,3,None,4,None,6
1,Actors \t \t\t\t\tShow/hide Example Job Ti...,27-2011,69.4,76.1,6.6,9.6,34,NaN,"Some college, no degree",6,None,4,Long-term on-the-job training,3
2,Actuaries \t \t\t\t\tShow/hide Example Job...,15-2011,24.6,29,4.4,18.1,11.7,"100,610",Bachelor's degree,3,None,4,Long-term on-the-job training,3
3,Adhesive bonding machine operators and tenders...,51-9191,18.4,17.1,-1.2,-6.8,4.8,"32,290",High school diploma or equivalent,7,None,4,Moderate-term on-the-job training,4
4,"Administrative law judges, adjudicators, and h...",23-1021,15,14.5,-0.5,-3.6,2.2,"92,110",Doctoral or professional degree,1,5 years or more,1,Short-term on-the-job training,5

In [14]:
Jobs[Jobs.Typical entry-level education != 'Associate's degree']

SyntaxError: invalid syntax (<ipython-input-14-59c30058d810>, line 1)

In [ ]:
Jobs[Jobs.Typical entry-level education != 'High school diploma or equivalent']

In [ ]:
props.head()

In [ ]:
Jobs.2016 median annual wage

In [ ]:
Jobs."2016 median annual wage"

In [ ]:
jobs = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Associate's Degrees/Jobs.csv")

In [ ]:
jobs.display()

In [ ]:
jobs.info()

In [ ]:
jobs.Education()

In [ ]:
jobs."Education"()

In [ ]:
jobs.SOC_Code()

In [ ]:
OLS(2016_wage ~ Education_code, data=jobs)

In [ ]:
import statsmodels.formula.api as sm

In [ ]:
props.prop_name.value_counts()

In [ ]:
props.prop_name.value_counts().reset_index()

In [ ]:
props.prop_name.value_counts()

In [ ]:
jobs.Education.value_counts()

In [ ]:
jobs.Education == 'Associate's degree'

In [ ]:
jobs.Education == 'Doctoral or professional degree'

In [41]:
newjobs = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Associate's Degrees/Jobs.csv")

In [42]:
newjobs.Education.value_counts()

High school diploma or equivalent    335
Bachelor's degree                    174
No formal educational credential     109
Doctoral or professional degree       63
Associates degree                     48
Postsecondary nondegree award         45
Master's degree                       38
Some college, no degree                6
-                                      1
Name: Education, dtype: int64

In [43]:
newjobs.Education == 'Associates degree'

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9       True
10     False
11     False
12      True
13     False
14     False
15     False
16     False
17     False
18      True
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
789    False
790    False
791    False
792    False
793    False
794    False
795    False
796    False
797    False
798    False
799    False
800    False
801    False
802     True
803    False
804    False
805    False
806    False
807     True
808    False
809    False
810    False
811    False
812    False
813    False
814    False
815    False
816    False
817    False
818    False
Name: Education, Length: 819, dtype: bool

In [44]:
newjobs[newjobs.Education == 'Associates degree']

,Title,SOC_Code,2014,2024,Change,Percent,Openings_due_to_growth_replacement,2016_wage,Education,Education_code,Experience,Experience_code,Training,Training_code
9,Aerospace engineering and operations technicia...,17-3021,11.4,11.8,0.4,3.6,3.2,"68,020",Associates degree,4,None,4,None,6
12,Agricultural and food science technicians ...,19-4011,33,34.7,1.6,4.9,12.4,"37,550",Associates degree,4,None,4,Moderate-term on-the-job training,4
18,Air traffic controllers \t \t\t\t\tShow/hi...,53-2021,24.5,22.4,-2.1,-8.6,7.5,"122,410",Associates degree,4,None,4,Long-term on-the-job training,3
36,Architectural and civil drafters \t \t\t\t...,17-3011,94,91.2,-2.8,-3.0,11.1,"51,640",Associates degree,4,None,4,None,6
57,Avionics technicians \t \t\t\t\tShow/hide ...,49-2091,17.4,17.5,0.1,0.4,3.1,"60,760",Associates degree,4,None,4,None,6
76,Broadcast technicians \t \t\t\t\tShow/hide...,27-4012,30.1,28.2,-2.0,-6.5,5.7,"38,550",Associates degree,4,None,4,Short-term on-the-job training,5
88,Camera and photographic equipment repairers ...,49-9061,3.7,3.8,0.2,4.7,0.8,"41,060",Associates degree,4,None,4,Long-term on-the-job training,3
91,Cardiovascular technologists and technicians ...,29-2031,52,63.5,11.5,22.2,21.4,"55,570",Associates degree,4,None,4,None,6
104,Chemical technicians \t \t\t\t\tShow/hide ...,19-4031,66.5,67.7,1.2,1.9,21.1,"45,840",Associates degree,4,None,4,Moderate-term on-the-job training,4
112,Civil engineering technicians \t \t\t\t\tS...,17-3022,74,77.6,3.5,4.8,21.6,"49,980",Associates degree,4,None,4,None,6
138,Computer network support specialists \t \t...,15-1152,181,194.6,13.6,7.5,36.9,"62,670",Associates degree,4,None,4,None,6
192,Dental hygienists \t \t\t\t\tShow/hide Exa...,29-2021,200.5,237.9,37.4,18.6,70.3,"72,910",Associates degree,4,None,4,None,6
198,Desktop publishers \t \t\t\t\tShow/hide Ex...,43-9031,14.8,11.7,-3.1,-21.0,4,"41,090",Associates degree,4,None,4,Short-term on-the-job training,5
200,Diagnostic medical sonographers \t \t\t\t\...,29-2032,60.7,76.7,16.0,26.4,27.5,"69,650",Associates degree,4,None,4,None,6
201,Dietetic technicians \t \t\t\t\tShow/hide ...,29-2051,29.3,33.2,3.9,13.3,6.8,"26,350",Associates degree,4,None,4,None,6
208,"Drafters, all other \t \t\t\t\tShow/hide E...",17-3019,14.7,14.2,-0.5,-3.4,1.7,"50,470",Associates degree,4,None,4,None,6
226,Electrical and electronics drafters \t \t\...,17-3012,30.1,31.7,1.6,5.4,5.2,"59,970",Associates degree,4,None,4,None,6
227,Electrical and electronics engineering technic...,17-3023,139.4,136.6,-2.8,-2.0,34.1,"62,190",Associates degree,4,None,4,None,6
234,Electro-mechanical technicians \t \t\t\t\t...,17-3024,14.7,14.8,0.1,0.7,3.7,"55,610",Associates degree,4,None,4,None,6
247,"Engineering technicians, except drafters, all ...",17-3029,70.1,69.9,-0.2,-0.2,17.1,"62,330",Associates degree,4,None,4,None,6
252,Environmental engineering technicians \t \...,17-3025,18.6,20.4,1.9,10.0,6.4,"49,170",Associates degree,4,None,4,None,6
254,Environmental science and protection technicia...,19-4091,36.2,39.6,3.4,9.5,18.6,"44,190",Associates degree,4,None,4,None,6
325,Forest and conservation technicians \t \t\...,19-4093,32.6,30.8,-1.9,-5.7,13.7,"35,560",Associates degree,4,None,4,None,6
334,Funeral service managers \t \t\t\t\tShow/h...,Nov-61,29.3,30.3,1.0,3.3,7.4,"73,830",Associates degree,4,Less than 5 years,2,None,6
351,Geological and petroleum technicians \t \t...,19-4041,16.5,18.5,1.9,11.8,8,"56,470",Associates degree,4,None,4,Moderate-term on-the-job training,4
393,"Human resources assistants, except payroll and...",43-4161,140.6,134.8,-5.8,-4.1,15.9,"39,020",Associates degree,4,None,4,None,6
397,Industrial engineering technicians \t \t\t...,17-3026,66.5,63.5,-3.0,-4.5,16.3,"53,330",Associates degree,4,None,4,None,6
441,"Life, physical, and social science technicians...",19-4099,78.2,83.5,5.3,6.8,38.1,"46,040",Associates degree,4,None,4,None,6
458,Magnetic resonance imaging technologists \...,29-2035,33.6,37.1,3.5,10.3,9.8,"68,420",Associates degree,4,Less than 5 years,2,None,6
482,Mechanical drafters \t \t\t\t\tShow/hide E...,17-3013,65.7,61.2,-4.5,-6.8,7.8,"54,480",Associates degree,4,None,4,None,6
483,Mechanical engineering technicians \t \t\t...,17-3027,48.4,49.3,0.9,2.0,12.8,"54,480",Associates degree,4,None,4,None,6
487,Medical and clinical laboratory technicians ...,29-2012,163.4,192.4,29.0,17.8,68.1,"38,950",Associates degree,4,None,4,None,6
493,Medical equipment repairers \t \t\t\t\tSho...,49-9062,48,50.9,2.9,6.1,11.5,"48,070",Associates degree,4,None,4,Moderate-term on-the-job training,4
520,"Morticians, undertakers, and funeral directors...",39-4031,31.1,33.2,2.1,6.7,8.9,"50,090",Associates degree,4,None,4,Long-term on-the-job training,3
537,Nuclear medicine technologists \t \t\t\t\t...,29-2033,20.7,21,0.3,1.5,4.2,"74,350",Associates degree,4,None,4,None,6
539,Nuclear technicians \t \t\t\t\tShow/hide E...,19-4051,6.8,6.4,-0.3,-5.1,2.8,"79,140",Associates degree,4,None,4,Moderate-term on-the-job training,4
550,Occupational therapy assistants \t \t\t\t\...,31-2011,33,47.1,14.1,42.7,23.6,"59,010",Associates degree,4,None,4,None,6
573,Paralegals and legal assistants \t \t\t\t\...,23-2011,279.5,300.8,21.2,7.6,82.7,"49,500",Associates degree,4,None,4,None,6
598,Physical therapist assistants \t \t\t\t\tS...,31-2021,78.7,110.7,31.9,40.6,54.7,"56,610",Associates degree,4,None,4,None,6
625,"Preschool teachers, except special education ...",25-2011,441,470.6,29.6,6.7,158.7,"28,790",Associates degree,4,None,4,None,6
650,Radiation therapists \t \t\t\t\tShow/hide ...,29-1124,16.6,18.9,2.3,14.0,6.2,"80,160",Associates degree,4,None,4,None,6
653,"Radio, cellular, and tower equipment installer...",49-2021,13.6,14.4,0.8,6.0,2.1,"52,480",Associates degree,4,None,4,Moderate-term on-the-job training,4
654,Radiologic technologists \t \t\t\t\tShow/h...,29-2034,197,214.2,17.2,8.7,54.4,"57,450",Associates degree,4,None,4,None,6
677,Respiratory therapists \t \t\t\t\tShow/hid...,29-1126,120.7,135.5,14.9,12.3,43.3,"58,670",Associates degree,4,None,4,None,6
678,Respiratory therapy technicians \t \t\t\t\...,29-2054,10.7,8.7,-2.1,-19.2,1.1,"49,780",Associates degree,4,None,4,None,6
702,Semiconductor processors \t \t\t\t\tShow/h...,51-9141,25.3,23.2,-2.1,-8.3,5.2,"35,660",Associates degree,4,None,4,Moderate-term on-the-job training,4
802,Veterinary technologists and technicians \...,29-2056,95.6,113.6,17.9,18.7,27.4,"32,490",Associates degree,4,None,4,None,6
807,Web developers \t \t\t\t\tShow/hide Exampl...,15-1134,148.5,188,39.5,26.6,58.6,"66,130",Associates degree,4,None,4,None,6

In [45]:
associates = newjobs[newjobs.Education == 'Associates degree']

In [ ]:
associates.2016_wage()

In [ ]:
associates.2016_wage

In [ ]:
associates.'2016_wage'

In [ ]:
associates.2016_wage

In [ ]:
associates.Percent

In [46]:
result = associates.sort([Change,Percent], decending=[1,0])

AttributeError: 'DataFrame' object has no attribute 'sort'

In [ ]:
associates.sort_values(Percent)

In [ ]:
associates.sort_values("Percent")

In [ ]:
associates.sort_values("Percent", ascending=False)

In [ ]:
associates.sort_values("Percent", ascending=False)

In [47]:
associates.sort_values("Percent", ascending=False).head()

,Title,SOC_Code,2014,2024,Change,Percent,Openings_due_to_growth_replacement,2016_wage,Education,Education_code,Experience,Experience_code,Training,Training_code
550,Occupational therapy assistants \t \t\t\t\...,31-2011,33,47.1,14.1,42.7,23.6,"59,010",Associates degree,4,None,4,None,6
598,Physical therapist assistants \t \t\t\t\tS...,31-2021,78.7,110.7,31.9,40.6,54.7,"56,610",Associates degree,4,None,4,None,6
807,Web developers \t \t\t\t\tShow/hide Exampl...,15-1134,148.5,188,39.5,26.6,58.6,"66,130",Associates degree,4,None,4,None,6
200,Diagnostic medical sonographers \t \t\t\t\...,29-2032,60.7,76.7,16.0,26.4,27.5,"69,650",Associates degree,4,None,4,None,6
91,Cardiovascular technologists and technicians ...,29-2031,52,63.5,11.5,22.2,21.4,"55,570",Associates degree,4,None,4,None,6

In [ ]:
props.prop_name.value_counts().reset_index()

In [ ]:
props.prop_name == 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.'

In [ ]:
prop = props[props.prop_name == 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.']

In [ ]:
merged = pd.merge(prop, contribs, on="calaccess_committee_id")

In [ ]:
merged.head()

In [ ]:
merged.info()

In [ ]:
merged.committee_position.value_counts()

In [ ]:
support = merged[merged.committee_position == 'SUPPORT']

In [ ]:
oppose = merged[merged.committee_position == 'OPPOSE']

In [ ]:
oppose.amount.sum()

In [ ]:
support.amount.sum()

In [ ]:
support.amount.sum() / merged.amount.sum()

In [ ]:
merged.sort_values("amount")

In [ ]:
merged.sort_values("amount", ascending=False)

In [ ]:
support.sort_values("amount", ascending=False).head()

In [ ]:
oppose.sort_values("amount", ascending=False).head()

In [ ]:
merged.groupby("committee_name_x").amount.sum()

In [ ]:
merged.groupby("committee_name_x").amount.sum().reset_index()

In [ ]:
merged.groupby("committee_name_x").amount.sum().reset_index().sort_values("amount"
                                                                , ascending=False)

In [ ]:
merged.groupby(["contributor_firstname", "contributor_lastname"]).amount.sum().reset_index().sort_values("amount", ascending=False)

In [ ]:
merged.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False)

In [ ]:
merged.groupby(["contributor_state", "committee_position"]).amount.sum().reset_index().sort_values("contributor_state", ascending=True)

In [ ]:
merged.Sum()

In [ ]:
merged.values("contributor_state")

In [ ]:
merged.amount("CA")

In [ ]:
merged.amount('contributor_state')

In [ ]:
merged.amount(contributor_state)

In [ ]:
merged.amount("contributor_state"")

In [ ]:
merged.amount.sum(contributor_state)

In [ ]:
merged.amount.sum('contributor_state')

In [ ]:
CA = merged[merged.contributor_state == 'CA']

In [ ]:
CA/merged.amount.sum()

In [ ]:
CA / merged.amount.sum()

In [ ]:
CA.amount.sum() / merged.amount.sum()

In [ ]:
1 - (CA.amount.sum() / merged.amount.sum())

In [ ]:
CA.head()

In [ ]:
associates.head()

In [ ]:
associates.sort_values("Percent", ascending=False).head()

In [ ]:
associates.sort_values("Percent", ascending=False)

In [ ]:
highschool = newjobs[newjobs.Education == 'High school diploma or equivalent']

In [ ]:
highschool.aum(Percent)

In [ ]:
highschool.sum(Percent)

In [ ]:
highschool.sort_values("Percent", ascending=False).head()

In [ ]:
highschool.sort_values("Percent", ascending=False)

In [ ]:
highschool.sort_values("2016_wage", ascending=False)

In [ ]:
associates.sort_values("2016_wage", ascending=False)

# First Python Notebook

Hello world!

import pandas as pd

In [ ]:
top_supporters = support.groupby(
    ["contributor_firstname", "contributor_lastname"]
).amount.sum().reset_index().sort_values("amount", ascending=False).head(10)

In [ ]:
top_supporters.head()

In [ ]:
top_supporters.head()

In [ ]:
top_supporters.display()

In [ ]:
top_supporters.head(10)

In [ ]:
top_supporters

In [ ]:
top_supporters = support.groupby(
    ["contributor_firstname", "contributor_lastname"]
).amount.sum().reset_index().sort_values("amount", ascending=False).head(10)

In [ ]:
top_supporters = support.groupby(["contributor_firstname", "contributor_lastname"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(10)

In [ ]:
support = merged[merged.committee_position == 'SUPPORT']

In [ ]:
top_supporters.head(10)

In [ ]:
top_supporters = support.groupby(["contributor_firstname", "contributor_lastname"]).amount.sum().reset_index().sort_values("amount", ascending=False).head(10)

In [ ]:
top_supporters.head(10)

In [ ]:
top_supporters.amount.plot.bar()

In [ ]:
top_supporters.amount.plot.barh()

In [ ]:
top_supporters.head(5).amount.plot.barh()

In [ ]:
chart = top_supporters.head(5).amount.plot.barh()
chart.set_yticklabels(top_supporters.contributor_lastname)

In [ ]:
top_supporters['contributor_fullname'] = top_supporters.contributor_firstname + " " + top_supporters.contributor_lastname

In [ ]:
top_supporters.head()

In [ ]:
chart = top_supporters.head(5).amount.plot.barh()
chart.set_yticklabels(top_supporters.contributor_fullname)

In [ ]:
associates.to_csv("associates.csv")

In [ ]:
associates.to_csv("associates.csv")

In [ ]:
millennials = pd.read_xlsx("/Users/alexmahadevan/Desktop/Millenial200List.xlsx")

In [ ]:
infrastructure = pd.read_xlsx("/Users/alexmahadevan/Desktop/Projects/Infrastructure/Infrastructure Jobs.csv")

In [ ]:
infrastructure = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Infrastructure/Infrastructure Jobs.csv")

In [ ]:
infrastructure.head(5)

In [ ]:
infrastructure.sum_values(Degree)

In [ ]:
infrastructure.Degree.value_counts()

In [ ]:
infrastructure.sort_values("MedianWage")

In [ ]:
infrastructure.sort_values("MedianWage", ascending=False)

In [ ]:
infrastructure.sort_values("JobOutlook", ascending=False)

In [ ]:
jobs.head()

In [ ]:
newjobs.head()

In [ ]:
newjobs.mean(Change)

In [ ]:
newjobs.mean("Change")

In [ ]:
newjobs.mean('Change')

In [ ]:
newjobs.describe(Change)

In [ ]:
newjobs.describe()

In [ ]:
ChangeZ = (newjobs.Change - 11.952503)/40.375600

In [ ]:
ChangeZ.head()

In [ ]:
ChangeZ.value_sort()

In [ ]:
ChangeZ.value_sort("Change")

In [ ]:
ChangeZ.sort_values()

In [ ]:
newjobs['Zchange'] = (newjobs.Change - 11.952503)/40.375600

In [ ]:
newjobs.describe()

In [ ]:
newjobs.sort_values("Zchange")

In [ ]:
newjobs.sort_values("Change")

In [ ]:
newjobs.describe()

In [ ]:
newjobs['Zpercent'] = (newjobs.Percent - 4.468987)/12.012549

In [ ]:
newsjobs.sort_values("Zpercent", ascending=False)

In [ ]:
newjobs.sort_values("Zpercent", ascending=False)

In [ ]:
high = newjobs[newjobs.Education == 'High school diploma or equivalent']

In [ ]:
high.head()

In [ ]:
high.describe()

In [ ]:
high.sort_values("Zpercent", ascending=False)

In [ ]:
newjobs.count_values("Education")

In [ ]:
newjobs.sum_values("Education")

In [ ]:
newjobs.sum("Education")

In [ ]:
newjobs.head()

In [ ]:
newjobs.head()

In [15]:
newsjobs.describe()

NameError: name 'newsjobs' is not defined

In [16]:
jobs = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Infrastructure/Infrastructure Jobs.csv")

In [17]:
jobs.describe()

          MedianWage  JobOutlook  Unnamed: 5  Unnamed: 6  Unnamed: 7
count     106.000000  105.000000         0.0         0.0         0.0
mean    52094.235849    0.057440         NaN         NaN         NaN
std     21282.234004    0.104795         NaN         NaN         NaN
min      3800.000000   -0.180000         NaN         NaN         NaN
25%     37987.500000    0.017000         NaN         NaN         NaN
50%     49270.000000    0.050000         NaN         NaN         NaN
75%     61690.000000    0.083000         NaN         NaN         NaN
max    127820.000000    0.870000         NaN         NaN         NaN

In [18]:
jobs['Zwage'] = (jobs.MedianWage - 52094.235849)/21282.234004

In [19]:
jobs['Zoutlook'] = (jobs.JobOutlook - 0.057440)/0.104795

In [20]:
jobs.head()

,OCCUPATION,MedianWage,Degree,JobOutlook,NumberofJobs,Unnamed: 5,Unnamed: 6,Unnamed: 7,Zwage,Zoutlook
0,Air Traffic Controllers,122410,Associate's Degree,-0.09,24500,NaN,NaN,NaN,3.303965,-1.406937
1,Aircraft Cargo Handling Supervisors,51900,High School,0.00,7460,NaN,NaN,NaN,-0.009127,-0.548118
2,Aircraft Mechanics and Service Technicians,60270,Technical School,0.01,137300,NaN,NaN,NaN,0.384159,-0.452693
3,Airfield Operations Specialists,52380,Associate's Degree,0.04,8760,NaN,NaN,NaN,0.013427,-0.166420
4,"Airline Pilots, Copilots, and Flight Engineers",127820,Bachelor's Degree,0.05,81520,NaN,NaN,NaN,3.558168,-0.070996

In [21]:
jobs['Zaverage'] = (jobs.Zwage + Zoutlook)/2

NameError: name 'Zoutlook' is not defined

In [22]:
jobs['Zaverage'] = (jobs.Zwage + jobs.Zoutlook)/2

In [23]:
jobs.sort_values("Zaverage", ascending=False)

,OCCUPATION,MedianWage,Degree,JobOutlook,NumberofJobs,Unnamed: 5,Unnamed: 6,Unnamed: 7,Zwage,Zoutlook,Zaverage
21,Dredge Operators,42420,High School,0.8700,1760,NaN,NaN,NaN,-0.454569,7.753805,3.649618
4,"Airline Pilots, Copilots, and Flight Engineers",127820,Bachelor's Degree,0.0500,81520,NaN,NaN,NaN,3.558168,-0.070996,1.743586
15,Commercial Divers,49090,Associate's Degree,0.3700,3370,NaN,NaN,NaN,-0.141162,2.982585,1.420712
16,Commercial Pilots,105720,Bachelor's Degree,0.0500,119200,NaN,NaN,NaN,2.519743,-0.070996,1.224374
46,Marine Engineers and Naval Architects,93350,Bachelor's Degree,0.0890,8300,NaN,NaN,NaN,1.938507,0.301159,1.119833
27,Environmental Engineers,84890,Bachelor's Degree,0.1240,55100,NaN,NaN,NaN,1.540993,0.635145,1.088069
0,Air Traffic Controllers,122410,Associate's Degree,-0.0900,24500,NaN,NaN,NaN,3.303965,-1.406937,0.948514
14,Civil Engineers,83540,Bachelor's Degree,0.0800,281400,NaN,NaN,NaN,1.477559,0.215277,0.846418
96,Construction managers,89300,Bachelor's Degree,0.0480,373200,NaN,NaN,NaN,1.748208,-0.090081,0.829064
40,Hydrologists,80480,Bachelor's Degree,0.0690,7000,NaN,NaN,NaN,1.333777,0.110311,0.722044
50,Nuclear Engineers,102220,Bachelor's Degree,-0.0400,"16,800",NaN,NaN,NaN,2.355287,-0.929815,0.712736
87,"Transportation, Storage, and Distribution Mana...",89190,High School,0.0220,111600,NaN,NaN,NaN,1.743039,-0.338184,0.702427
75,Solar Photovoltaic Installers,39240,High School,0.2430,5900,NaN,NaN,NaN,-0.603989,1.770695,0.583353
73,Ship Engineers,70570,Certification,0.0750,10300,NaN,NaN,NaN,0.868131,0.167565,0.517848
97,First-line supervisors of construction trades ...,62980,High School,0.1000,578400,NaN,NaN,NaN,0.511495,0.406126,0.458811
88,Urban and Regional Planners,70020,Master's Degree,0.0630,3800,NaN,NaN,NaN,0.842288,0.053056,0.447672
25,Electricians,52720,High School,0.1370,628800,NaN,NaN,NaN,0.029403,0.759197,0.394300
98,Cost estimators,61790,Bachelor's Degree,0.0880,213500,NaN,NaN,NaN,0.455580,0.291617,0.373599
45,Logisticians,74170,Bachelor's Degree,0.0190,134000,NaN,NaN,NaN,1.037286,-0.366811,0.335237
33,Foresters,58700,Bachelor's Degree,0.0830,15500,NaN,NaN,NaN,0.310389,0.243905,0.277147
17,Conservation Scientists,60610,Bachelor's Degree,0.0700,36500,NaN,NaN,NaN,0.400135,0.119853,0.259994
58,"Plumbers, Pipefitters, and Steamfitters",51450,High School,0.1150,425000,NaN,NaN,NaN,-0.030271,0.549263,0.259496
95,Construction and building inspectors,58480,High School,0.0800,101200,NaN,NaN,NaN,0.300051,0.215277,0.257664
76,Subway and Streetcar Operators,64680,High School,0.0470,12000,NaN,NaN,NaN,0.591374,-0.099623,0.245876
82,Transit and Railroad Police,66160,High School,0.0350,3600,NaN,NaN,NaN,0.660916,-0.214132,0.223392
66,Rail-Track Laying and Maintenance Equipment Op...,53970,High School,0.0930,15600,NaN,NaN,NaN,0.088138,0.339329,0.213733
84,Transportation Inspectors,72220,High School,0.0012,26400,NaN,NaN,NaN,0.945660,-0.536667,0.204497
54,"Petroleum Pump System Operators, Refinery Oper...",67400,High School,0.0220,42400,NaN,NaN,NaN,0.719180,-0.338184,0.190498
10,Bus and Truck Mechanics and Diesel Engine Spec...,45170,High School,0.1300,245280,NaN,NaN,NaN,-0.325353,0.692399,0.183523
59,Power Distributors and Dispatchers,81900,High School,-0.0510,"11,400",NaN,NaN,NaN,1.400500,-1.034782,0.182859
...,...,...,...,...,...,...,...,...,...,...,...
1,Aircraft Cargo Handling Supervisors,51900,High School,0.0000,7460,NaN,NaN,NaN,-0.009127,-0.548118,-0.278622
28,"First-Line Supervisors of Helpers, Laborers, a...",47230,High School,0.0220,173100,NaN,NaN,NaN,-0.228559,-0.338184,-0.283371
78,Taxi Drivers and Chauffeurs,24300,None,0.1310,233700,NaN,NaN,NaN,-1.305983,0.701942,-0.302021
94,"Construction and related workers, all other",36890,High School,0.0690,35400,NaN,NaN,NaN,-0.714410,0.110311,-0.302050
69,Refuse and Recyclable Material Collectors,35270,None,0.0710,131500,NaN,NaN,NaN,-0.790530,0.129395,-0.330567
105,"Maintenance and repair workers, general",36940,High School,0.0610,1374700,NaN,NaN,NaN,-0.712060,0.033971,-0.339045
7,Bridge and Lock Tenders,49090,High School,0.0000,3510,NaN,NaN,NaN,-0.141162,-0.548118,-0.344640
57,"Plant and System Operators, All Other",54930,High School,-0.0320,11900,NaN,NaN,NaN,0.133246,-0.853476,-0.360115
39,Highway Maintenance Workers,38130,High School,0.0480,151300,NaN,NaN,NaN,-0.656145,-0.090081,-0.373113
90,Highway Maintenance Workers,38130,High School,0.0480,151300,NaN,NaN,NaN,-0.656145,-0.090081,-0.373113
79,Telecommunications Equipment Installers and Re...,53640,Certification,-0.0360,218600,NaN,NaN,NaN,0.072632,-0.891646,-0.409507
104,Helpers--carpenters,28810,None,0.0750,39700,NaN,NaN,NaN,-1.094069,0.167565,-0.463252
20,"Dispatchers, Except Police, Fire, and Ambulance",37940,High School,0.0300,"197,910",NaN,NaN,NaN,-0.665073,-0.261845,-0.463459
77,"Tank Car, Truck, and Ship Loaders",35770,None,0.0400,"13,000",NaN,NaN,NaN,-0.767036,-0.166420,-0.466728
86,"Transportation Workers, All Other",35660,High School,0.0330,40200,NaN,NaN,NaN,-0.772204,-0.233217,-0.502711
8,"Bus Drivers, School or Special Client",30150,High School,0.0600,515020,NaN,NaN,NaN,-1.031106,0.024429,-0.503339
19,Couriers and Messengers,28170,High School,0.0600,93000,NaN,NaN,NaN,-1.124141,0.024429,-0.549856
83,"Transportation Attendants, Except Flight Atten...",26060,High School,0.0640,16500,NaN,NaN,NaN,-1.223285,0.062598,-0.580343
47,"Material Moving Workers, All Other",28370,None,0.0440,"23,600",NaN,NaN,NaN,-1.114744,-0.128250,-0.621497
44,Light Truck or Delivery Services Drivers,30580,High School,0.0310,"884,700",NaN,NaN,NaN,-1.010901,-0.252302,-0.631602
42,"Laborers and Freight, Stock, and Material Move...",25980,None,0.0510,2441300,NaN,NaN,NaN,-1.227044,-0.061453,-0.644249
32,Forest and Conservation Workers,26940,High School,0.0420,"14,000",NaN,NaN,NaN,-1.181936,-0.147335,-0.664636
70,Reservation and Transportation Ticket Agents a...,35230,High School,-0.0140,140800,NaN,NaN,NaN,-0.792409,-0.681712,-0.737061
22,Electrical Power-Line Installers and Repairers,6810,High School,0.1100,118600,NaN,NaN,NaN,-2.127795,0.501551,-0.813122
52,"Packers and Packagers, Hand",22130,None,0.0170,6954,NaN,NaN,NaN,-1.407946,-0.385896,-0.896921
31,Forest and Conservation Technicians,35560,Associate's Degree,-0.0570,32600,NaN,NaN,NaN,-0.776903,-1.092037,-0.934470
85,Transportation Security Screeners,39680,High School,-0.0900,46600,NaN,NaN,NaN,-0.583315,-1.406937,-0.995126
64,"Rail Transportation Workers, All Other",3800,High School,0.0130,3800,NaN,NaN,NaN,-2.269228,-0.424066,-1.346647
48,"Meter Readers, Utilities",37400,High School,-0.1800,38940,NaN,NaN,NaN,-0.690446,-2.265757,-1.478102
11,"Captains, Mates, and Pilots of Water Vessels",72680,Technical School,NaN,36720,NaN,NaN,NaN,0.967275,NaN,NaN

In [24]:
jobs['Zrank'] = (jobs.Zwage*0.2 + jobs.Zoutlook*0.8)

In [25]:
jobs.head()

,OCCUPATION,MedianWage,Degree,JobOutlook,NumberofJobs,Unnamed: 5,Unnamed: 6,Unnamed: 7,Zwage,Zoutlook,Zaverage,Zrank
0,Air Traffic Controllers,122410,Associate's Degree,-0.09,24500,NaN,NaN,NaN,3.303965,-1.406937,0.948514,-0.464757
1,Aircraft Cargo Handling Supervisors,51900,High School,0.00,7460,NaN,NaN,NaN,-0.009127,-0.548118,-0.278622,-0.440320
2,Aircraft Mechanics and Service Technicians,60270,Technical School,0.01,137300,NaN,NaN,NaN,0.384159,-0.452693,-0.034267,-0.285323
3,Airfield Operations Specialists,52380,Associate's Degree,0.04,8760,NaN,NaN,NaN,0.013427,-0.166420,-0.076496,-0.130451
4,"Airline Pilots, Copilots, and Flight Engineers",127820,Bachelor's Degree,0.05,81520,NaN,NaN,NaN,3.558168,-0.070996,1.743586,0.654837

In [26]:
jobs.sort_values("Zrank", ascending=False)

,OCCUPATION,MedianWage,Degree,JobOutlook,NumberofJobs,Unnamed: 5,Unnamed: 6,Unnamed: 7,Zwage,Zoutlook,Zaverage,Zrank
21,Dredge Operators,42420,High School,0.870,1760,NaN,NaN,NaN,-0.454569,7.753805,3.649618,6.112130
15,Commercial Divers,49090,Associate's Degree,0.370,3370,NaN,NaN,NaN,-0.141162,2.982585,1.420712,2.357836
75,Solar Photovoltaic Installers,39240,High School,0.243,5900,NaN,NaN,NaN,-0.603989,1.770695,0.583353,1.295758
27,Environmental Engineers,84890,Bachelor's Degree,0.124,55100,NaN,NaN,NaN,1.540993,0.635145,1.088069,0.816314
37,Helpers--Electricians,29350,High School,0.180,69000,NaN,NaN,NaN,-1.068696,1.169521,0.050413,0.721878
72,Septic Tank Servicers and Sewer Pipe Cleaners,36430,None,0.163,24700,NaN,NaN,NaN,-0.736024,1.007300,0.135638,0.658635
4,"Airline Pilots, Copilots, and Flight Engineers",127820,Bachelor's Degree,0.050,81520,NaN,NaN,NaN,3.558168,-0.070996,1.743586,0.654837
46,Marine Engineers and Naval Architects,93350,Bachelor's Degree,0.089,8300,NaN,NaN,NaN,1.938507,0.301159,1.119833,0.628629
25,Electricians,52720,High School,0.137,628800,NaN,NaN,NaN,0.029403,0.759197,0.394300,0.613238
10,Bus and Truck Mechanics and Diesel Engine Spec...,45170,High School,0.130,245280,NaN,NaN,NaN,-0.325353,0.692399,0.183523,0.488849
14,Civil Engineers,83540,Bachelor's Degree,0.080,281400,NaN,NaN,NaN,1.477559,0.215277,0.846418,0.467734
16,Commercial Pilots,105720,Bachelor's Degree,0.050,119200,NaN,NaN,NaN,2.519743,-0.070996,1.224374,0.447152
58,"Plumbers, Pipefitters, and Steamfitters",51450,High School,0.115,425000,NaN,NaN,NaN,-0.030271,0.549263,0.259496,0.433356
97,First-line supervisors of construction trades ...,62980,High School,0.100,578400,NaN,NaN,NaN,0.511495,0.406126,0.458811,0.427200
38,"Helpers--Pipelayers, Plumbers, Pipefitters, an...",29030,High School,0.134,"52,400",NaN,NaN,NaN,-1.083732,0.730569,-0.176581,0.367709
93,Construction Laborers,33430,None,0.127,1159100,NaN,NaN,NaN,-0.876987,0.663772,-0.106607,0.355620
40,Hydrologists,80480,Bachelor's Degree,0.069,7000,NaN,NaN,NaN,1.333777,0.110311,0.722044,0.355004
41,Industrial Truck and Tractor Operators,32469,None,0.126,"530,900",NaN,NaN,NaN,-0.922142,0.654230,-0.133956,0.338955
98,Cost estimators,61790,Bachelor's Degree,0.088,213500,NaN,NaN,NaN,0.455580,0.291617,0.373599,0.324410
73,Ship Engineers,70570,Certification,0.075,10300,NaN,NaN,NaN,0.868131,0.167565,0.517848,0.307678
56,Pipelayers,38410,None,0.114,"45,700",NaN,NaN,NaN,-0.642989,0.539720,-0.051634,0.303179
78,Taxi Drivers and Chauffeurs,24300,None,0.131,233700,NaN,NaN,NaN,-1.305983,0.701942,-0.302021,0.300357
26,Environmental Engineering Technicians,49170,Associate's Degree,0.100,"18,600",NaN,NaN,NaN,-0.137403,0.406126,0.134362,0.297420
66,Rail-Track Laying and Maintenance Equipment Op...,53970,High School,0.093,15600,NaN,NaN,NaN,0.088138,0.339329,0.213733,0.289091
101,Operating engineers and other construction equ...,45890,High School,0.102,363400,NaN,NaN,NaN,-0.291522,0.425211,0.066845,0.281865
96,Construction managers,89300,Bachelor's Degree,0.048,373200,NaN,NaN,NaN,1.748208,-0.090081,0.829064,0.277577
33,Foresters,58700,Bachelor's Degree,0.083,15500,NaN,NaN,NaN,0.310389,0.243905,0.277147,0.257202
95,Construction and building inspectors,58480,High School,0.080,101200,NaN,NaN,NaN,0.300051,0.215277,0.257664,0.232232
100,Occupational health and safety technicians,48820,High School,0.091,15100,NaN,NaN,NaN,-0.153848,0.320244,0.083198,0.225426
88,Urban and Regional Planners,70020,Master's Degree,0.063,3800,NaN,NaN,NaN,0.842288,0.053056,0.447672,0.210902
...,...,...,...,...,...,...,...,...,...,...,...,...
30,Flight Attendants,48500,High School,0.022,97900,NaN,NaN,NaN,-0.168884,-0.338184,-0.253534,-0.304324
28,"First-Line Supervisors of Helpers, Laborers, a...",47230,High School,0.022,173100,NaN,NaN,NaN,-0.228559,-0.338184,-0.283371,-0.316259
47,"Material Moving Workers, All Other",28370,None,0.044,"23,600",NaN,NaN,NaN,-1.114744,-0.128250,-0.621497,-0.325549
65,"Rail Yard Engineers, Dinkey Operators, and Hos...",50470,High School,0.015,"4,000",NaN,NaN,NaN,-0.076319,-0.404981,-0.240650,-0.339249
86,"Transportation Workers, All Other",35660,High School,0.033,40200,NaN,NaN,NaN,-0.772204,-0.233217,-0.502711,-0.341015
20,"Dispatchers, Except Police, Fire, and Ambulance",37940,High School,0.030,"197,910",NaN,NaN,NaN,-0.665073,-0.261845,-0.463459,-0.342490
32,Forest and Conservation Workers,26940,High School,0.042,"14,000",NaN,NaN,NaN,-1.181936,-0.147335,-0.664636,-0.354255
80,Telecommunications Line Installers and Repairers,52590,High School,0.006,118000,NaN,NaN,NaN,0.023295,-0.490863,-0.233784,-0.388032
74,Signal and Track Switch Repairers,65350,High School,-0.010,"9,500",NaN,NaN,NaN,0.622856,-0.643542,-0.010343,-0.390263
44,Light Truck or Delivery Services Drivers,30580,High School,0.031,"884,700",NaN,NaN,NaN,-1.010901,-0.252302,-0.631602,-0.404022
18,"Control and Valve Installers and Repairers, Ex...",54420,Technical School,0.000,45740,NaN,NaN,NaN,0.109282,-0.548118,-0.219418,-0.416638
1,Aircraft Cargo Handling Supervisors,51900,High School,0.000,7460,NaN,NaN,NaN,-0.009127,-0.548118,-0.278622,-0.440320
0,Air Traffic Controllers,122410,Associate's Degree,-0.090,24500,NaN,NaN,NaN,3.303965,-1.406937,0.948514,-0.464757
7,Bridge and Lock Tenders,49090,High School,0.000,3510,NaN,NaN,NaN,-0.141162,-0.548118,-0.344640,-0.466727
68,Railroad Conductors and Yardmasters,57480,High School,-0.019,"45,100",NaN,NaN,NaN,0.253064,-0.729424,-0.238180,-0.532927
67,"Railroad Brake, Signal, and Switch Operators",56570,High School,-0.018,22100,NaN,NaN,NaN,0.210305,-0.719882,-0.254788,-0.533844
59,Power Distributors and Dispatchers,81900,High School,-0.051,"11,400",NaN,NaN,NaN,1.400500,-1.034782,0.182859,-0.547726
34,Gas Plant Operators,67580,High School,-0.034,16700,NaN,NaN,NaN,0.727638,-0.872561,-0.072461,-0.552521
24,"Electrical and Electronics Repairers, Powerhou...",75670,Certification,-0.045,22700,NaN,NaN,NaN,1.107767,-0.977528,0.065120,-0.560469
51,Nuclear Technicians,79140,Associate's Degree,-0.051,6800,NaN,NaN,NaN,1.270814,-1.034782,0.118016,-0.573663
52,"Packers and Packagers, Hand",22130,None,0.017,6954,NaN,NaN,NaN,-1.407946,-0.385896,-0.896921,-0.590306
57,"Plant and System Operators, All Other",54930,High School,-0.032,11900,NaN,NaN,NaN,0.133246,-0.853476,-0.360115,-0.656132
79,Telecommunications Equipment Installers and Re...,53640,Certification,-0.036,218600,NaN,NaN,NaN,0.072632,-0.891646,-0.409507,-0.698790
70,Reservation and Transportation Ticket Agents a...,35230,High School,-0.014,140800,NaN,NaN,NaN,-0.792409,-0.681712,-0.737061,-0.703851
60,Power Plant Operators,74690,High School,-0.066,41400,NaN,NaN,NaN,1.061720,-1.177919,-0.058100,-0.729991
64,"Rail Transportation Workers, All Other",3800,High School,0.013,3800,NaN,NaN,NaN,-2.269228,-0.424066,-1.346647,-0.793098
31,Forest and Conservation Technicians,35560,Associate's Degree,-0.057,32600,NaN,NaN,NaN,-0.776903,-1.092037,-0.934470,-1.029010
85,Transportation Security Screeners,39680,High School,-0.090,46600,NaN,NaN,NaN,-0.583315,-1.406937,-0.995126,-1.242213
48,"Meter Readers, Utilities",37400,High School,-0.180,38940,NaN,NaN,NaN,-0.690446,-2.265757,-1.478102,-1.950695
11,"Captains, Mates, and Pilots of Water Vessels",72680,Technical School,NaN,36720,NaN,NaN,NaN,0.967275,NaN,NaN,NaN

In [27]:
jobs.NumberofJobs.describe()

count        106
unique       102
top       137300
freq           2
Name: NumberofJobs, dtype: object

In [28]:
jobs.describe()

,MedianWage,JobOutlook,Unnamed: 5,Unnamed: 6,Unnamed: 7,Zwage,Zoutlook,Zaverage,Zrank
count,106.000000,105.000000,0.0,0.0,0.0,1.060000e+02,1.050000e+02,105.000000,105.000000
mean,52094.235849,0.057440,NaN,NaN,NaN,2.659827e-12,2.537653e-17,-0.004606,-0.001842
std,21282.234004,0.104795,NaN,NaN,NaN,1.000000e+00,1.000004e+00,0.633356,0.785283
min,3800.000000,-0.180000,NaN,NaN,NaN,-2.269228e+00,-2.265757e+00,-1.478102,-1.950695
25%,37987.500000,0.017000,NaN,NaN,NaN,-6.628409e-01,-3.858963e-01,-0.302021,-0.325549
50%,49270.000000,0.050000,NaN,NaN,NaN,-1.327039e-01,-7.099575e-02,-0.085169,-0.082269
75%,61690.000000,0.083000,NaN,NaN,NaN,4.508814e-01,2.439048e-01,0.204497,0.257202
max,127820.000000,0.870000,NaN,NaN,NaN,3.558168e+00,7.753805e+00,3.649618,6.112130

In [29]:
median(jobs.NumberofJobs)

NameError: name 'median' is not defined

In [30]:
mean(jobs.NumberofJobs)

NameError: name 'mean' is not defined

In [31]:
jobs.mean(NumberofJobs)

NameError: name 'NumberofJobs' is not defined

In [32]:
jobs.sort_values("MedianWage")

,OCCUPATION,MedianWage,Degree,JobOutlook,NumberofJobs,Unnamed: 5,Unnamed: 6,Unnamed: 7,Zwage,Zoutlook,Zaverage,Zrank
64,"Rail Transportation Workers, All Other",3800,High School,0.0130,3800,NaN,NaN,NaN,-2.269228,-0.424066,-1.346647,-0.793098
22,Electrical Power-Line Installers and Repairers,6810,High School,0.1100,118600,NaN,NaN,NaN,-2.127795,0.501551,-0.813122,-0.024319
52,"Packers and Packagers, Hand",22130,None,0.0170,6954,NaN,NaN,NaN,-1.407946,-0.385896,-0.896921,-0.590306
78,Taxi Drivers and Chauffeurs,24300,None,0.1310,233700,NaN,NaN,NaN,-1.305983,0.701942,-0.302021,0.300357
42,"Laborers and Freight, Stock, and Material Move...",25980,None,0.0510,2441300,NaN,NaN,NaN,-1.227044,-0.061453,-0.644249,-0.294571
83,"Transportation Attendants, Except Flight Atten...",26060,High School,0.0640,16500,NaN,NaN,NaN,-1.223285,0.062598,-0.580343,-0.194578
32,Forest and Conservation Workers,26940,High School,0.0420,"14,000",NaN,NaN,NaN,-1.181936,-0.147335,-0.664636,-0.354255
19,Couriers and Messengers,28170,High School,0.0600,93000,NaN,NaN,NaN,-1.124141,0.024429,-0.549856,-0.205285
47,"Material Moving Workers, All Other",28370,None,0.0440,"23,600",NaN,NaN,NaN,-1.114744,-0.128250,-0.621497,-0.325549
104,Helpers--carpenters,28810,None,0.0750,39700,NaN,NaN,NaN,-1.094069,0.167565,-0.463252,-0.084762
38,"Helpers--Pipelayers, Plumbers, Pipefitters, an...",29030,High School,0.1340,"52,400",NaN,NaN,NaN,-1.083732,0.730569,-0.176581,0.367709
37,Helpers--Electricians,29350,High School,0.1800,69000,NaN,NaN,NaN,-1.068696,1.169521,0.050413,0.721878
8,"Bus Drivers, School or Special Client",30150,High School,0.0600,515020,NaN,NaN,NaN,-1.031106,0.024429,-0.503339,-0.186678
44,Light Truck or Delivery Services Drivers,30580,High School,0.0310,"884,700",NaN,NaN,NaN,-1.010901,-0.252302,-0.631602,-0.404022
41,Industrial Truck and Tractor Operators,32469,None,0.1260,"530,900",NaN,NaN,NaN,-0.922142,0.654230,-0.133956,0.338955
93,Construction Laborers,33430,None,0.1270,1159100,NaN,NaN,NaN,-0.876987,0.663772,-0.106607,0.355620
70,Reservation and Transportation Ticket Agents a...,35230,High School,-0.0140,140800,NaN,NaN,NaN,-0.792409,-0.681712,-0.737061,-0.703851
69,Refuse and Recyclable Material Collectors,35270,None,0.0710,131500,NaN,NaN,NaN,-0.790530,0.129395,-0.330567,-0.054590
31,Forest and Conservation Technicians,35560,Associate's Degree,-0.0570,32600,NaN,NaN,NaN,-0.776903,-1.092037,-0.934470,-1.029010
86,"Transportation Workers, All Other",35660,High School,0.0330,40200,NaN,NaN,NaN,-0.772204,-0.233217,-0.502711,-0.341015
77,"Tank Car, Truck, and Ship Loaders",35770,None,0.0400,"13,000",NaN,NaN,NaN,-0.767036,-0.166420,-0.466728,-0.286543
72,Septic Tank Servicers and Sewer Pipe Cleaners,36430,None,0.1630,24700,NaN,NaN,NaN,-0.736024,1.007300,0.135638,0.658635
94,"Construction and related workers, all other",36890,High School,0.0690,35400,NaN,NaN,NaN,-0.714410,0.110311,-0.302050,-0.054633
105,"Maintenance and repair workers, general",36940,High School,0.0610,1374700,NaN,NaN,NaN,-0.712060,0.033971,-0.339045,-0.115235
48,"Meter Readers, Utilities",37400,High School,-0.1800,38940,NaN,NaN,NaN,-0.690446,-2.265757,-1.478102,-1.950695
102,"Painters, construction and maintenance",37570,None,0.0740,360500,NaN,NaN,NaN,-0.682458,0.158023,-0.262218,-0.010073
20,"Dispatchers, Except Police, Fire, and Ambulance",37940,High School,0.0300,"197,910",NaN,NaN,NaN,-0.665073,-0.261845,-0.463459,-0.342490
39,Highway Maintenance Workers,38130,High School,0.0480,151300,NaN,NaN,NaN,-0.656145,-0.090081,-0.373113,-0.203294
90,Highway Maintenance Workers,38130,High School,0.0480,151300,NaN,NaN,NaN,-0.656145,-0.090081,-0.373113,-0.203294
56,Pipelayers,38410,None,0.1140,"45,700",NaN,NaN,NaN,-0.642989,0.539720,-0.051634,0.303179
...,...,...,...,...,...,...,...,...,...,...,...,...
2,Aircraft Mechanics and Service Technicians,60270,Technical School,0.0100,137300,NaN,NaN,NaN,0.384159,-0.452693,-0.034267,-0.285323
17,Conservation Scientists,60610,Bachelor's Degree,0.0700,36500,NaN,NaN,NaN,0.400135,0.119853,0.259994,0.175909
6,Avionics Technicians,61390,Technical School,0.0100,137300,NaN,NaN,NaN,0.436785,-0.452693,-0.007954,-0.274798
98,Cost estimators,61790,Bachelor's Degree,0.0880,213500,NaN,NaN,NaN,0.455580,0.291617,0.373599,0.324410
97,First-line supervisors of construction trades ...,62980,High School,0.1000,578400,NaN,NaN,NaN,0.511495,0.406126,0.458811,0.427200
43,Landscape Architects,63480,Bachelor's Degree,0.0120,22500,NaN,NaN,NaN,0.534989,-0.433608,0.050690,-0.239889
76,Subway and Streetcar Operators,64680,High School,0.0470,12000,NaN,NaN,NaN,0.591374,-0.099623,0.245876,0.038576
74,Signal and Track Switch Repairers,65350,High School,-0.0100,"9,500",NaN,NaN,NaN,0.622856,-0.643542,-0.010343,-0.390263
82,Transit and Railroad Police,66160,High School,0.0350,3600,NaN,NaN,NaN,0.660916,-0.214132,0.223392,-0.039123
54,"Petroleum Pump System Operators, Refinery Oper...",67400,High School,0.0220,42400,NaN,NaN,NaN,0.719180,-0.338184,0.190498,-0.126711
34,Gas Plant Operators,67580,High School,-0.0340,16700,NaN,NaN,NaN,0.727638,-0.872561,-0.072461,-0.552521
88,Urban and Regional Planners,70020,Master's Degree,0.0630,3800,NaN,NaN,NaN,0.842288,0.053056,0.447672,0.210902
73,Ship Engineers,70570,Certification,0.0750,10300,NaN,NaN,NaN,0.868131,0.167565,0.517848,0.307678
84,Transportation Inspectors,72220,High School,0.0012,26400,NaN,NaN,NaN,0.945660,-0.536667,0.204497,-0.240201
11,"Captains, Mates, and Pilots of Water Vessels",72680,Technical School,NaN,36720,NaN,NaN,NaN,0.967275,NaN,NaN,NaN
45,Logisticians,74170,Bachelor's Degree,0.0190,134000,NaN,NaN,NaN,1.037286,-0.366811,0.335237,-0.085992
60,Power Plant Operators,74690,High School,-0.0660,41400,NaN,NaN,NaN,1.061720,-1.177919,-0.058100,-0.729991
24,"Electrical and Electronics Repairers, Powerhou...",75670,Certification,-0.0450,22700,NaN,NaN,NaN,1.107767,-0.977528,0.065120,-0.560469
51,Nuclear Technicians,79140,Associate's Degree,-0.0510,6800,NaN,NaN,NaN,1.270814,-1.034782,0.118016,-0.573663
40,Hydrologists,80480,Bachelor's Degree,0.0690,7000,NaN,NaN,NaN,1.333777,0.110311,0.722044,0.355004
59,Power Distributors and Dispatchers,81900,High School,-0.0510,"11,400",NaN,NaN,NaN,1.400500,-1.034782,0.182859,-0.547726
14,Civil Engineers,83540,Bachelor's Degree,0.0800,281400,NaN,NaN,NaN,1.477559,0.215277,0.846418,0.467734
27,Environmental Engineers,84890,Bachelor's Degree,0.1240,55100,NaN,NaN,NaN,1.540993,0.635145,1.088069,0.816314
87,"Transportation, Storage, and Distribution Mana...",89190,High School,0.0220,111600,NaN,NaN,NaN,1.743039,-0.338184,0.702427,0.078061
96,Construction managers,89300,Bachelor's Degree,0.0480,373200,NaN,NaN,NaN,1.748208,-0.090081,0.829064,0.277577
46,Marine Engineers and Naval Architects,93350,Bachelor's Degree,0.0890,8300,NaN,NaN,NaN,1.938507,0.301159,1.119833,0.628629
50,Nuclear Engineers,102220,Bachelor's Degree,-0.0400,"16,800",NaN,NaN,NaN,2.355287,-0.929815,0.712736,-0.272795
16,Commercial Pilots,105720,Bachelor's Degree,0.0500,119200,NaN,NaN,NaN,2.519743,-0.070996,1.224374,0.447152
0,Air Traffic Controllers,122410,Associate's Degree,-0.0900,24500,NaN,NaN,NaN,3.303965,-1.406937,0.948514,-0.464757
4,"Airline Pilots, Copilots, and Flight Engineers",127820,Bachelor's Degree,0.0500,81520,NaN,NaN,NaN,3.558168,-0.070996,1.743586,0.654837

In [33]:
jobs.sort_values("JobOutlook", ascending=False)

,OCCUPATION,MedianWage,Degree,JobOutlook,NumberofJobs,Unnamed: 5,Unnamed: 6,Unnamed: 7,Zwage,Zoutlook,Zaverage,Zrank
21,Dredge Operators,42420,High School,0.8700,1760,NaN,NaN,NaN,-0.454569,7.753805,3.649618,6.112130
15,Commercial Divers,49090,Associate's Degree,0.3700,3370,NaN,NaN,NaN,-0.141162,2.982585,1.420712,2.357836
75,Solar Photovoltaic Installers,39240,High School,0.2430,5900,NaN,NaN,NaN,-0.603989,1.770695,0.583353,1.295758
37,Helpers--Electricians,29350,High School,0.1800,69000,NaN,NaN,NaN,-1.068696,1.169521,0.050413,0.721878
72,Septic Tank Servicers and Sewer Pipe Cleaners,36430,None,0.1630,24700,NaN,NaN,NaN,-0.736024,1.007300,0.135638,0.658635
25,Electricians,52720,High School,0.1370,628800,NaN,NaN,NaN,0.029403,0.759197,0.394300,0.613238
38,"Helpers--Pipelayers, Plumbers, Pipefitters, an...",29030,High School,0.1340,"52,400",NaN,NaN,NaN,-1.083732,0.730569,-0.176581,0.367709
78,Taxi Drivers and Chauffeurs,24300,None,0.1310,233700,NaN,NaN,NaN,-1.305983,0.701942,-0.302021,0.300357
10,Bus and Truck Mechanics and Diesel Engine Spec...,45170,High School,0.1300,245280,NaN,NaN,NaN,-0.325353,0.692399,0.183523,0.488849
93,Construction Laborers,33430,None,0.1270,1159100,NaN,NaN,NaN,-0.876987,0.663772,-0.106607,0.355620
41,Industrial Truck and Tractor Operators,32469,None,0.1260,"530,900",NaN,NaN,NaN,-0.922142,0.654230,-0.133956,0.338955
27,Environmental Engineers,84890,Bachelor's Degree,0.1240,55100,NaN,NaN,NaN,1.540993,0.635145,1.088069,0.816314
58,"Plumbers, Pipefitters, and Steamfitters",51450,High School,0.1150,425000,NaN,NaN,NaN,-0.030271,0.549263,0.259496,0.433356
56,Pipelayers,38410,None,0.1140,"45,700",NaN,NaN,NaN,-0.642989,0.539720,-0.051634,0.303179
22,Electrical Power-Line Installers and Repairers,6810,High School,0.1100,118600,NaN,NaN,NaN,-2.127795,0.501551,-0.813122,-0.024319
101,Operating engineers and other construction equ...,45890,High School,0.1020,363400,NaN,NaN,NaN,-0.291522,0.425211,0.066845,0.281865
97,First-line supervisors of construction trades ...,62980,High School,0.1000,578400,NaN,NaN,NaN,0.511495,0.406126,0.458811,0.427200
26,Environmental Engineering Technicians,49170,Associate's Degree,0.1000,"18,600",NaN,NaN,NaN,-0.137403,0.406126,0.134362,0.297420
66,Rail-Track Laying and Maintenance Equipment Op...,53970,High School,0.0930,15600,NaN,NaN,NaN,0.088138,0.339329,0.213733,0.289091
53,"Paving, Surfacing, and Tamping Equipment Opera...",38970,High School,0.0920,"57,700",NaN,NaN,NaN,-0.616676,0.329787,-0.143444,0.140494
91,"Paving, Surfacing, and Tamping Equipment Opera...",38970,High School,0.0920,57700,NaN,NaN,NaN,-0.616676,0.329787,-0.143444,0.140494
100,Occupational health and safety technicians,48820,High School,0.0910,15100,NaN,NaN,NaN,-0.153848,0.320244,0.083198,0.225426
71,Sailors and Marine Oilers,42060,None,0.0910,"28,300",NaN,NaN,NaN,-0.471484,0.320244,-0.075620,0.161899
46,Marine Engineers and Naval Architects,93350,Bachelor's Degree,0.0890,8300,NaN,NaN,NaN,1.938507,0.301159,1.119833,0.628629
98,Cost estimators,61790,Bachelor's Degree,0.0880,213500,NaN,NaN,NaN,0.455580,0.291617,0.373599,0.324410
61,"Pump Operators, Except Wellhead Pumpers",42470,High School,0.0840,13100,NaN,NaN,NaN,-0.452219,0.253447,-0.099386,0.112314
33,Foresters,58700,Bachelor's Degree,0.0830,15500,NaN,NaN,NaN,0.310389,0.243905,0.277147,0.257202
95,Construction and building inspectors,58480,High School,0.0800,101200,NaN,NaN,NaN,0.300051,0.215277,0.257664,0.232232
14,Civil Engineers,83540,Bachelor's Degree,0.0800,281400,NaN,NaN,NaN,1.477559,0.215277,0.846418,0.467734
104,Helpers--carpenters,28810,None,0.0750,39700,NaN,NaN,NaN,-1.094069,0.167565,-0.463252,-0.084762
...,...,...,...,...,...,...,...,...,...,...,...,...
28,"First-Line Supervisors of Helpers, Laborers, a...",47230,High School,0.0220,173100,NaN,NaN,NaN,-0.228559,-0.338184,-0.283371,-0.316259
45,Logisticians,74170,Bachelor's Degree,0.0190,134000,NaN,NaN,NaN,1.037286,-0.366811,0.335237,-0.085992
52,"Packers and Packagers, Hand",22130,None,0.0170,6954,NaN,NaN,NaN,-1.407946,-0.385896,-0.896921,-0.590306
65,"Rail Yard Engineers, Dinkey Operators, and Hos...",50470,High School,0.0150,"4,000",NaN,NaN,NaN,-0.076319,-0.404981,-0.240650,-0.339249
64,"Rail Transportation Workers, All Other",3800,High School,0.0130,3800,NaN,NaN,NaN,-2.269228,-0.424066,-1.346647,-0.793098
43,Landscape Architects,63480,Bachelor's Degree,0.0120,22500,NaN,NaN,NaN,0.534989,-0.433608,0.050690,-0.239889
6,Avionics Technicians,61390,Technical School,0.0100,137300,NaN,NaN,NaN,0.436785,-0.452693,-0.007954,-0.274798
2,Aircraft Mechanics and Service Technicians,60270,Technical School,0.0100,137300,NaN,NaN,NaN,0.384159,-0.452693,-0.034267,-0.285323
80,Telecommunications Line Installers and Repairers,52590,High School,0.0060,118000,NaN,NaN,NaN,0.023295,-0.490863,-0.233784,-0.388032
84,Transportation Inspectors,72220,High School,0.0012,26400,NaN,NaN,NaN,0.945660,-0.536667,0.204497,-0.240201
1,Aircraft Cargo Handling Supervisors,51900,High School,0.0000,7460,NaN,NaN,NaN,-0.009127,-0.548118,-0.278622,-0.440320
7,Bridge and Lock Tenders,49090,High School,0.0000,3510,NaN,NaN,NaN,-0.141162,-0.548118,-0.344640,-0.466727
18,"Control and Valve Installers and Repairers, Ex...",54420,Technical School,0.0000,45740,NaN,NaN,NaN,0.109282,-0.548118,-0.219418,-0.416638
74,Signal and Track Switch Repairers,65350,High School,-0.0100,"9,500",NaN,NaN,NaN,0.622856,-0.643542,-0.010343,-0.390263
70,Reservation and Transportation Ticket Agents a...,35230,High School,-0.0140,140800,NaN,NaN,NaN,-0.792409,-0.681712,-0.737061,-0.703851
67,"Railroad Brake, Signal, and Switch Operators",56570,High School,-0.0180,22100,NaN,NaN,NaN,0.210305,-0.719882,-0.254788,-0.533844
68,Railroad Conductors and Yardmasters,57480,High School,-0.0190,"45,100",NaN,NaN,NaN,0.253064,-0.729424,-0.238180,-0.532927
57,"Plant and System Operators, All Other",54930,High School,-0.0320,11900,NaN,NaN,NaN,0.133246,-0.853476,-0.360115,-0.656132
34,Gas Plant Operators,67580,High School,-0.0340,16700,NaN,NaN,NaN,0.727638,-0.872561,-0.072461,-0.552521
79,Telecommunications Equipment Installers and Re...,53640,Certification,-0.0360,218600,NaN,NaN,NaN,0.072632,-0.891646,-0.409507,-0.698790
50,Nuclear Engineers,102220,Bachelor's Degree,-0.0400,"16,800",NaN,NaN,NaN,2.355287,-0.929815,0.712736,-0.272795
24,"Electrical and Electronics Repairers, Powerhou...",75670,Certification,-0.0450,22700,NaN,NaN,NaN,1.107767,-0.977528,0.065120,-0.560469
59,Power Distributors and Dispatchers,81900,High School,-0.0510,"11,400",NaN,NaN,NaN,1.400500,-1.034782,0.182859,-0.547726
51,Nuclear Technicians,79140,Associate's Degree,-0.0510,6800,NaN,NaN,NaN,1.270814,-1.034782,0.118016,-0.573663
31,Forest and Conservation Technicians,35560,Associate's Degree,-0.0570,32600,NaN,NaN,NaN,-0.776903,-1.092037,-0.934470,-1.029010
60,Power Plant Operators,74690,High School,-0.0660,41400,NaN,NaN,NaN,1.061720,-1.177919,-0.058100,-0.729991
85,Transportation Security Screeners,39680,High School,-0.0900,46600,NaN,NaN,NaN,-0.583315,-1.406937,-0.995126,-1.242213
0,Air Traffic Controllers,122410,Associate's Degree,-0.0900,24500,NaN,NaN,NaN,3.303965,-1.406937,0.948514,-0.464757
48,"Meter Readers, Utilities",37400,High School,-0.1800,38940,NaN,NaN,NaN,-0.690446,-2.265757,-1.478102,-1.950695
11,"Captains, Mates, and Pilots of Water Vessels",72680,Technical School,NaN,36720,NaN,NaN,NaN,0.967275,NaN,NaN,NaN

In [34]:
college = pd.read_csv("/Users/alexmahadevan/Downloads/databeats-college-completion/cc_institution_grads.csv")

In [36]:
college2 = d.read_csv("/Users/alexmahadevan/Downloads/databeats-college-completion/cc_institution_details.csv")

NameError: name 'd' is not defined

In [37]:
college2 = pd.read_csv("/Users/alexmahadevan/Downloads/databeats-college-completion/cc_institution_details.csv")

In [38]:
college2.head()

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.568502,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.809170,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,-86.174010,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.638420,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.295677,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

In [39]:
college2.describe()

,unitid,long_x,lat_y,student_count,awards_per_value,awards_per_state_value,awards_per_natl_value,exp_award_value,exp_award_state_value,exp_award_natl_value,...,vsa_grad_elsewhere_after4_transfer,vsa_enroll_after4_transfer,vsa_enroll_elsewhere_after4_transfer,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,state_sector_ct,carnegie_ct,cohort_size
count,3798.000000,3798.000000,3798.000000,3798.000000,3798.000000,3798.000000,3798.000000,3.798000e+03,3798.000000,3798.000000,...,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,3798.000000,3798.000000,3467.000000
mean,226063.790416,-91.030391,38.134044,4476.135334,23.435176,22.845656,22.484044,6.507447e+04,61282.189837,60903.577672,...,6.442222,12.233704,8.641852,57.960370,9.705926,3.001481,5.909630,34.284360,232.557662,658.306028
std,105065.777685,15.684064,5.040303,7376.868923,10.615140,6.322818,4.770449,1.074379e+05,33295.027077,29892.281333,...,3.606922,6.220198,3.919950,16.368681,4.641213,2.158996,2.988662,28.311303,156.960653,961.782580
min,100654.000000,-159.395966,19.699720,23.000000,0.500000,3.200000,16.500000,0.000000e+00,12346.000000,24795.000000,...,-13.400000,0.000000,0.000000,0.000000,-9.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,155063.250000,-97.294767,34.299610,581.250000,17.300000,19.300000,21.500000,3.231125e+04,35830.000000,37780.000000,...,4.700000,8.325000,6.200000,51.050000,7.500000,1.525000,4.200000,14.000000,106.000000,131.000000
50%,198075.000000,-86.828840,38.988143,1794.500000,21.300000,22.200000,22.500000,5.057850e+04,54025.000000,38763.000000,...,6.400000,11.800000,8.300000,59.500000,9.700000,2.700000,5.700000,25.000000,169.000000,356.000000
75%,233745.000000,-79.966228,41.633128,5172.000000,26.500000,24.200000,24.600000,7.693025e+04,79310.000000,101725.000000,...,7.800000,15.075000,10.800000,68.075000,11.900000,3.900000,7.200000,48.000000,343.000000,782.500000
max,475291.000000,-67.243306,71.324702,170144.000000,137.600000,59.900000,32.800000,5.282095e+06,188870.000000,101725.000000,...,29.800000,64.500000,25.300000,89.300000,32.000000,17.200000,21.300000,116.000000,517.000000,16229.000000

In [40]:
college2.sort_values("student_count", ascending=False)

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
3134,372213,University of Phoenix Online,Phoenix,Arizona,4-year,Private for-profit,Doctoral/Research Universities,NaN,NaN,-111.981777,...,NaN,NaN,NaN,NaN,142276|220075|106245|206279|173984|157757|1311...,23,79,51.1|07,NaN,1144.0
833,150987,Ivy Tech Community College-Central Indiana,Indianapolis,Indiana,2-year,Public,Associates--Public Urban-serving Single Campus,NaN,NaN,-86.158213,...,NaN,NaN,NaN,NaN,203748|205470|201928|170055|202222|165033|1552...,1,31,36.3|10,NaN,13104.0
552,135717,Miami Dade College,Miami,Florida,4-year,Public,Associates--Public 4-year Primarily Associates,NaN,NaN,-80.190856,...,NaN,NaN,NaN,NaN,188058|137078|203492|133021|196015|207564|2046...,36,34,54.6|07,NaN,NaN
2683,227182,Lone Star College system,The Woodlands,Texas,2-year,Public,Associates--Public Suburban-serving Multicampus,NaN,NaN,-95.490077,...,NaN,NaN,NaN,NaN,122977|232946|114859|155210|120342|227979|1178...,63,99,28.2|10,NaN,4661.0
2649,225423,Houston Community College,Houston,Texas,2-year,Public,Associates--Public Urban-serving Multicampus,NaN,NaN,-95.376524,...,NaN,NaN,NaN,NaN,209746|228547|121901|222992|138187|133702|1344...,63,125,22.5|10,NaN,3675.0
2827,232946,Northern Virginia Community College,Annandale,Virginia,2-year,Public,Associates--Public Suburban-serving Multicampus,NaN,NaN,-77.236679,...,NaN,NaN,NaN,NaN,227182|113333|247834|122977|115296|120342|1216...,24,99,40.1|10,NaN,4577.0
507,132903,University of Central Florida,Orlando,Florida,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-81.198805,...,79.2,4.8,1.2,2.7,223232|100858|163268|204024|165334|171128|1900...,36,106,54.7|07,UCF|Florida Tech,6350.0
914,154022,Ashford University,Clinton,Iowa,4-year,Private for-profit,Masters Colleges and Universities--larger prog...,NaN,NaN,-90.199127,...,NaN,NaN,NaN,NaN,180522|162210|192192|101189|237330|154590|1813...,9,386,24.2|07,NaN,708.0
2719,228547,Tarrant County College,Fort Worth,Texas,2-year,Public,Associates--Public Urban-serving Multicampus,NaN,NaN,-97.327948,...,NaN,NaN,NaN,NaN,222992|109208|121901|105525|113856|133702|1121...,63,125,32.2|10,NaN,2957.0
2816,232557,Liberty University,Lynchburg,Virginia,4-year,Private not-for-profit,Masters Colleges and Universities--larger prog...,NaN,NaN,-79.179688,...,NaN,NaN,NaN,NaN,212133|107044|190716|105516|169716|224226|1952...,28,386,45.5|07,NaN,2661.0
2125,204796,Ohio State University,Columbus,Ohio,4-year,Public,Research Universities--very high research acti...,NaN,X,-83.009001,...,70.8,7.2,2.0,4.9,228778|134130|139959|240444|236948|129020|2217...,34,106,70.8|07,OSU,6155.0
2724,228723,Texas A&M University at College Station,College Station,Texas,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-96.340322,...,81.8,8.0,0.7,2.8,199193|134097|110705|196097|110653|110644|2339...,35,106,93.7|07,TAMU,8025.0
502,132709,Broward College,Fort Lauderdale,Florida,4-year,Public,Associates--Public Urban-serving Multicampus,NaN,NaN,-80.235410,...,NaN,NaN,NaN,NaN,114789|187532|138187|239248|109819|217475|2023...,36,125,42.0|07,NaN,NaN
587,138187,Valencia Community College,Orlando,Florida,4-year,Public,Associates--Public Urban-serving Multicampus,NaN,NaN,-81.464168,...,NaN,NaN,NaN,NaN,117645|210605|122658|187532|204945|132709|1344...,36,125,45.6|07,NaN,NaN
2610,222992,Austin Community College,Austin,Texas,2-year,Public,Associates--Public Urban-serving Multicampus,NaN,NaN,-97.681720,...,NaN,NaN,NaN,NaN,228547|109208|121901|105525|113856|133702|1121...,63,125,14.7|10,NaN,2034.0
3064,260901,Kaplan University at Davenport,Davenport,Iowa,4-year,Private for-profit,Masters Colleges and Universities--larger prog...,NaN,NaN,-90.550682,...,NaN,NaN,NaN,NaN,438151|203474|204839|161217|404073|174279|1658...,9,386,3.0|07,NaN,52.0
2377,214777,Pennsylvania State University at University Park,University Park,Pennsylvania,4-year,Public,Research Universities--very high research acti...,NaN,X,-77.861644,...,89.3,3.2,0.7,1.1,126614|221759|174066|186380|236948|218663|1290...,41,106,88.8|07,Penn State|PSU,6490.0
2726,228778,University of Texas at Austin,Austin,Texas,4-year,Public,Research Universities--very high research acti...,NaN,X,-97.737279,...,NaN,NaN,NaN,NaN,139959|236948|204796|129020|221759|174066|1266...,35,106,75.9|07,NaN,7419.0
526,133951,Florida International University,Miami,Florida,4-year,Public,Research Universities--high research activity,NaN,NaN,-80.377591,...,76.4,5.0,2.8,2.2,216339|229115|230728|157289|176080|156125|2255...,36,96,48.0|07,FIU,3230.0
68,104151,Arizona State University at Tempe,Tempe,Arizona,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-111.940011,...,NaN,NaN,NaN,NaN,209542|236939|145600|196060|180461|141574|1006...,4,106,59.4|07,ASU,7308.0
1291,171100,Michigan State University,East Lansing,Michigan,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-84.473639,...,80.8,6.1,0.9,2.9,153603|137351|110714|243780|126818|201885|1106...,16,106,84.1|07,MSU,7268.0
843,151351,Indiana University at Bloomington,Bloomington,Indiana,4-year,Public,Research Universities--very high research acti...,NaN,X,-86.526904,...,NaN,NaN,NaN,NaN,166629|178396|130943|159391|181464|153658|2186...,15,106,99.8|07,IUB,7157.0
223,113856,East Los Angeles College,Monterey Park,California,2-year,Public,Associates--Public Urban-serving Multicampus,NaN,NaN,-118.148384,...,NaN,NaN,NaN,NaN,112190|105525|230746|105154|122180|109208|2277...,113,125,17.7|10,NaN,1528.0
3346,433387,Western Governors University,Salt Lake City,Utah,4-year,Private not-for-profit,Masters Colleges and Universities--larger prog...,NaN,NaN,-111.869857,...,NaN,NaN,NaN,NaN,164632|440545|159568|119544|160065|209409|2035...,7,386,35.4|07,NaN,91.0
78,104717,Grand Canyon University,Phoenix,Arizona,4-year,Private for-profit,Masters Colleges and Universities--larger prog...,NaN,NaN,-112.129917,...,NaN,NaN,NaN,NaN,193016|145336|199306|137476|187897|192439|1408...,23,386,8.9|07,NaN,112.0
1355,174066,University of Minnesota-Twin Cities,Minneapolis,Minnesota,4-year,Public,Research Universities--very high research acti...,NaN,X,-93.235352,...,74.7,8.6,1.5,3.8,221759|126614|236948|129020|214777|218663|2287...,11,106,57.0|07,The U,5256.0
1556,182005,College of Southern Nevada,Las Vegas,Nevada,4-year,Public,Associates--Public 4-year Primarily Associates,NaN,NaN,-115.233784,...,NaN,NaN,NaN,NaN,436827|436836|137078|136233|436818|207564|1330...,6,34,14.8|07,NaN,NaN
1624,186380,Rutgers University at New Brunswick,New Brunswick,New Jersey,4-year,Public,Research Universities--very high research acti...,NaN,X,-74.450510,...,NaN,NaN,NaN,NaN,218663|151351|166629|214777|181464|178396|2217...,12,106,77.0|07,NaN,5296.0
178,110608,California State University at Northridge,Northridge,California,4-year,Public,Masters Colleges and Universities--larger prog...,NaN,NaN,-118.526817,...,78.1,3.3,1.3,3.3,110556|212160|226091|185262|190600|239080|1261...,32,386,48.4|07,Cal State Northridge,3978.0
534,134130,University of Florida,Gainesville,Florida,4-year,Public,Research Universities--very high research acti...,NaN,X,-82.361195,...,NaN,NaN,NaN,NaN,204796|240444|228778|139959|145637|236948|2152...,36,106,66.4|07,NaN,6440.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3331,430485,Creative Center,Omaha,Nebraska,4-year,Private for-profit,Schools of art- music- and design,NaN,NaN,-96.084330,...,NaN,NaN,NaN,NaN,158343|216445|123642|368629|118277|160940|2109...,4,114,100.0|07,NaN,NaN
1005,156903,Daymar College - Paducah,Paducah,Kentucky,4-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-88.632439,...,NaN,NaN,NaN,NaN,440882|442408|211909|233091|377661|439312|4408...,15,517,NaN,NaN,NaN
2319,212993,Hussian School of Art,Philadelphia,Pennsylvania,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-75.147292,...,NaN,NaN,NaN,NaN,191959|134422|206394|423670|157270|376136|1646...,56,517,98.1|10,NaN,52.0
200,111966,Charles Drew University of Medicine and Science,Los Angeles,California,4-year,Private not-for-profit,Other health professions schools,NaN,NaN,-118.242791,...,NaN,NaN,NaN,NaN,181297|149028|203544|231837|418126|149763|1963...,74,43,41.3|07,NaN,NaN
2419,216047,Saint Charles Borromeo Seminary,Wynnewood,Pennsylvania,4-year,Private not-for-profit,Theological seminaries- Bible colleges- and ot...,NaN,NaN,-75.255675,...,NaN,NaN,NaN,NaN,205027|172033|201140|190734|223117|110060|1946...,82,106,13.5|07,NaN,7.0
3721,454458,Bryan College at Rogers,Rogers,Arkansas,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-94.170080,...,NaN,NaN,NaN,NaN,123581|448761|136747|450003|179052|446446|3670...,1,517,100.0|10,NaN,87.0
3778,459356,SOLEX College,Wheeling,Illinois,2-year,Private for-profit,Not applicable- not in Carnegie universe,NaN,NaN,-87.907683,...,NaN,NaN,NaN,NaN,NaN,11,81,NaN,NaN,89.0
3715,453482,National College,Stow,Ohio,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-81.400189,...,NaN,NaN,NaN,NaN,100733|100928|103529|105136|108056|110501|1123...,42,517,39.1|10,NaN,9.0
3751,456490,Universidad Politecnica de Puerto Rico-Orlando...,Orlando,Florida,4-year,Private not-for-profit,Baccalaureate Colleges--Diverse Fields,NaN,NaN,-81.254951,...,NaN,NaN,NaN,NaN,NaN,47,343,NaN,NaN,NaN
3568,445762,Aviation Institute of Maintenance-Manassas,Manassas,Virginia,2-year,Private for-profit,Not applicable- not in Carnegie universe,NaN,NaN,-77.514851,...,NaN,NaN,NaN,NaN,NaN,17,81,100.0|10,NaN,36.0
2146,205568,Daymar College - Chillicothe,Chillicothe,Ohio,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-83.002700,...,NaN,NaN,NaN,NaN,438294|369516|249609|368805|143075|151209|1781...,42,517,53.6|10,NaN,60.0
3561,445610,Anthem College at Kansas City,Kansas City,Missouri,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-94.607614,...,NaN,NaN,NaN,NaN,173489|414850|440174|404365|225858|438966|4451...,19,517,NaN,NaN,55.0
2428,216427,Triangle Tech-Erie School,Erie,Pennsylvania,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-80.094975,...,NaN,NaN,NaN,NaN,178767|428329|424424|210483|381796|442499|2148...,56,517,88.5|10,NaN,69.0
3501,443340,Williamson Christian College,Franklin,Tennessee,4-year,Private not-for-profit,Theological seminaries- Bible colleges- and ot...,NaN,NaN,-86.828311,...,NaN,NaN,NaN,NaN,196583|441609|127714|431983|164614|216311|1171...,38,106,10.0|07,NaN,1.0
3027,245421,Metro Business College,Rolla,Missouri,2-year,Private for-profit,Not applicable- not in Carnegie universe,NaN,NaN,-91.755012,...,NaN,NaN,NaN,NaN,100733|100928|103529|105136|108056|110501|1123...,19,81,47.6|10,NaN,20.0
2234,209241,Mount Angel Seminary,Saint Benedict,Oregon,4-year,Private not-for-profit,Theological seminaries- Bible colleges- and ot...,NaN,NaN,-122.775405,...,NaN,NaN,NaN,NaN,439701|166054|443049|194763|193052|164207|1599...,17,106,67.9|07,NaN,19.0
2145,205559,Daymar College - Lancaster,Lancaster,Ohio,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-82.652356,...,NaN,NaN,NaN,NaN,220118|128188|249247|439482|417549|213057|4062...,42,517,32.6|10,NaN,15.0
1437,177038,Cleveland Chiropractic College of Kansas City,Overland Park,Kansas,4-year,Private not-for-profit,Other health professions schools,NaN,NaN,-94.679076,...,NaN,NaN,NaN,NaN,445735|235547|145770|436094|154174|112312|2438...,20,43,2.4|07,NaN,1.0
2383,214838,Pace Institute,Reading,Pennsylvania,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-75.927335,...,NaN,NaN,NaN,NaN,127839|438285|101958|427982|134121|441502|1795...,56,517,40.8|10,NaN,30.0
3536,444972,Centura College at Columbia,Columbia,South Carolina,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-80.944897,...,NaN,NaN,NaN,NaN,440332|450696|433004|448664|446923|419022|4485...,5,517,100.0|10,NaN,74.0
3366,434751,White Earth Tribal and Community College,Mahnomen,Minnesota,2-year,Private not-for-profit,Tribal Colleges,NaN,NaN,-95.968291,...,NaN,NaN,NaN,NaN,200086|200527|442781|187596|188216|380359|3803...,1,33,61.4|10,NaN,27.0
503,132806,Fortis College at Winter Park,Winter Park,Florida,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-81.448402,...,NaN,NaN,NaN,NaN,224660|205513|419341|376321|406219|213057|1378...,39,517,NaN,NaN,274.0
2150,205726,Lincoln College of Technology at Dayton,Dayton,Ohio,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-84.194755,...,NaN,NaN,NaN,NaN,175528|205692|151166|404994|219903|205717|2246...,42,517,94.4|10,NaN,113.0
1687,189653,Business Informatics Center,Valley Stream,New York,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-73.707437,...,NaN,NaN,NaN,NaN,159197|438735|434575|445470|149310|440271|1547...,22,517,16.7|10,NaN,5.0
3739,455673,Metro Business College,Arnold,Missouri,2-year,Private for-profit,Not applicable- not in Carnegie universe,NaN,NaN,-90.366801,...,NaN,NaN,NaN,NaN,NaN,19,81,92.3|10,NaN,24.0
2885,235495,Interface College - Spokane,Spokane,Washington,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-117.417046,...,NaN,NaN,NaN,NaN,246008|225788|444547|439437|446808|452054|4518...,5,517,NaN,NaN,28.0
3737,455646,Daymar College-Scottsville,Scottsville,Kentucky,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-86.203714,...,NaN,NaN,NaN,NaN,NaN,7,517,65.6|10,NaN,22.0
3406,438629,University of Phoenix at Pittsburgh,Pittsburgh,Pennsylvania,4-year,Private for-profit,Schools of business and management,NaN,NaN,-80.125516,...,NaN,NaN,NaN,NaN,179548|167835|245652|230816|195304|163976|1531...,9,42,45.5|07,NaN,3.0
412,126924,Denver Academy of Court Reporting,Westminster,Colorado,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-105.065051,...,NaN,NaN,NaN,NaN,438258|440110|445203|152220|223463|246035|1919...,17,517,100.0|10,NaN,40.0
1042,158440,Cameron College,New Orleans,Louisiana,2-year,Private for-profit,Associates--Private For-profit,NaN,NaN,-90.088158,...,NaN,NaN,NaN,NaN,427982|134121|179511|128179|194967|408844|2379...,11,517,NaN,NaN,38.0

In [1]:
PUMS = pd.read_csv("/Users/alexmahadevan/Downloads/csv_hfl/ss15hfl.csv")

NameError: name 'pd' is not defined

In [3]:
PUMS = pd.read_csv("/Users/alexmahadevan/Downloads/csv_hfl/ss15hfl.csv")

In [4]:
PUMS.head()

,insp,RT,SERIALNO,DIVISION,PUMA00,PUMA10,REGION,ST,ADJHSG,ADJINC,...,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80,FFINCP,FGRNTP,FHINCP,FSMOCP
0,NaN,H,2011000000012,5,1200,-9,3,12,1053874,1073094,...,5,3,9,8,6,8,1.0,1.0,1.0,NaN
1,1000.0,H,2011000000014,5,2402,-9,3,12,1053874,1073094,...,103,84,118,164,104,153,0.0,NaN,0.0,0.0
2,1500.0,H,2011000000069,5,701,-9,3,12,1053874,1073094,...,13,14,15,4,12,18,0.0,NaN,0.0,1.0
3,1500.0,H,2011000000071,5,3501,-9,3,12,1053874,1073094,...,8,8,10,2,19,8,0.0,NaN,0.0,0.0
4,NaN,H,2011000000074,5,2001,-9,3,12,1053874,1073094,...,11,13,5,14,14,19,0.0,1.0,1.0,NaN

In [5]:
PUMS.head(5)

,insp,RT,SERIALNO,DIVISION,PUMA00,PUMA10,REGION,ST,ADJHSG,ADJINC,...,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80,FFINCP,FGRNTP,FHINCP,FSMOCP
0,NaN,H,2011000000012,5,1200,-9,3,12,1053874,1073094,...,5,3,9,8,6,8,1.0,1.0,1.0,NaN
1,1000.0,H,2011000000014,5,2402,-9,3,12,1053874,1073094,...,103,84,118,164,104,153,0.0,NaN,0.0,0.0
2,1500.0,H,2011000000069,5,701,-9,3,12,1053874,1073094,...,13,14,15,4,12,18,0.0,NaN,0.0,1.0
3,1500.0,H,2011000000071,5,3501,-9,3,12,1053874,1073094,...,8,8,10,2,19,8,0.0,NaN,0.0,0.0
4,NaN,H,2011000000074,5,2001,-9,3,12,1053874,1073094,...,11,13,5,14,14,19,0.0,1.0,1.0,NaN

In [8]:
PUMS = pd.read_csv("/Users/alexmahadevan/Downloads/csv_hfl/ss15hfl.csv")

In [9]:
PUMS.SINK.describe()

count    454600.000000
mean          1.004083
std           0.063766
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           2.000000
Name: SINK, dtype: float64

In [10]:
PUMS.VALP.describe()

count    2.857680e+05
mean     2.334463e+05
std      3.553955e+05
min      1.000000e+02
25%      8.400000e+04
50%      1.500000e+05
75%      2.500000e+05
max      3.292000e+06
Name: VALP, dtype: float64

In [11]:
2.334463e+05

233446.3

In [12]:
1.500000e+05

150000.0

In [1]:
dw configure

SyntaxError: invalid syntax (<ipython-input-1-9bb9f85b4171>, line 1)

In [2]:
dw configure

SyntaxError: invalid syntax (<ipython-input-2-9bb9f85b4171>, line 1)

In [3]:
export DW_AUTH_TOKEN=<YOUR_TOKEN>

SyntaxError: invalid syntax (<ipython-input-3-a3561437ce72>, line 1)

In [4]:
import datadotworld as dw

In [5]:
intro_dataset = dw.load_dataset('jonloyens/an-intro-to-dataworld-dataset')

RuntimeError: Configuration file not found at /Users/alexmahadevan/.dw/config.To fix this issue, run dw configure