# ‘Affordable Places to Raise a Family’ Analysis

## <i>Data Work</i>

In [1]:
import pandas as pd

### Population, Migration and Births

<p>Let's read in the population dataset from 2010 - 2016. As a plus it has births and migration data we can use in the analysis.</p>
<p>Data is courtesy of the [U.S. Census Bureau](https://www2.census.gov/programs-surveys/popest/datasets/2010-2016/metro/totals/cbsa-est2016-alldata.csv).</p>

In [2]:
df = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/cbsa-est2016-alldata.csv")

<p>If people are moving to a county or metropolitan area, that probably means it's a good place to live.</p>

<p>So we'll go ahead and create a new variable that takes into account the average annual net migration to a region called AVG_NETMIG. The higher the number, the greater average migration to the municipality.</p>
<p>But, wait. Won't way more people be moving to a huge city like Miami than a smaller one like Sarasota?</p>
<p>To control for population amount, let's find the net migration per capita by diving net migration in each year by the population estimate for that year.</p>

In [3]:
df['AVG_NETMIG'] = (df['NETMIG2010']/df['POPESTIMATE2010'] + df['NETMIG2011']/df['POPESTIMATE2011'] +
df['NETMIG2012']/df['POPESTIMATE2012'] + df['NETMIG2013']/df['POPESTIMATE2013'] +
df['NETMIG2014']/df['POPESTIMATE2014'] + df['NETMIG2015']/df['POPESTIMATE2015'] +
df['NETMIG2015']/df['POPESTIMATE2015'])/7

<p>But, we also want to take into account the overall change in population between 2010 and 2016.</p>

<p>So we will create a new variable called POP_CHANGE.</p>

In [4]:
df['POP_CHANGE'] = (df['POPESTIMATE2016'] - df['POPESTIMATE2010']) / df['POPESTIMATE2010']

<p>You probably want to raise a family where other people are raising a family right?</p>
<p>This statistics may not be the best (since sometimes high birth rates correlate with poverty), but let's create a new variable for births per capita for 2016.</p>
<p>We shall call it BIRTHS_PER_CAPITA.</p>

In [5]:
df['BIRTHS_PER_CAPITA'] = df['BIRTHS2016']/df['POPESTIMATE2016']

<p>Are there any other variables we can create that would be important to someone looking to raise a family?</p>

<p>Not from this dataset, but while we're thinking about it, let's drill it down to the 382 metropolitan statistical areas.</p>

<p>First, let's count the number of types in the variable LSAD to make sure we have 382.</p>

In [6]:
df.LSAD.value_counts()

County or equivalent             1825
Micropolitan Statistical Area     551
Metropolitan Statistical Area     382
Metropolitan Division              31
Name: LSAD, dtype: int64

<p>Success! Now, let's drill it down by creating a new dataframe called MSA_POP.</p>

In [7]:
MSA_POP = df[df.LSAD == 'Metropolitan Statistical Area']

<p><b>Let's just leave that there for now, and explore other variables we can add to this analysis.</b></p>

### Museums

<p>I found a data set that has all of the museums in cities, let's have a look at that.</p>

In [8]:
MUSEUM = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/Workbook1.csv")

In [9]:
MUSEUM.head()

        ADCITY ADSTATE       Unnamed: 2
0        SITKA      AK        SITKA, AK
1  KING SALMON      AK  KING SALMON, AK
2    FAIRBANKS      AK    FAIRBANKS, AK
3       PALMER      AK       PALMER, AK
4       KODIAK      AK       KODIAK, AK

<p>As you can see, we need to concatenate the city and state variables since there are a ton of similarly named cities throughout U.S. states</p>

In [10]:
MUSEUM['CITY'] = MUSEUM['ADCITY'] + ", " + MUSEUM['ADSTATE']

In [11]:
MUSEUM.CITY.value_counts()

NEW YORK, NY            297
CHICAGO, IL             193
WASHINGTON, DC          188
PHILADELPHIA, PA        179
LOS ANGELES, CA         162
HOUSTON, TX             133
BALTIMORE, MD           120
SAN FRANCISCO, CA       119
SEATTLE, WA             103
AUSTIN, TX               96
PORTLAND, OR             96
SAN DIEGO, CA            96
DALLAS, TX               94
BOSTON, MA               93
DENVER, CO               89
ATLANTA, GA              87
PITTSBURGH, PA           84
BROOKLYN, NY             77
LOUISVILLE, KY           76
CINCINNATI, OH           76
NEW ORLEANS, LA          72
MILWAUKEE, WI            70
RICHMOND, VA             69
SAN ANTONIO, TX          69
ALBUQUERQUE, NM          68
TUCSON, AZ               68
HUGO, OK                 67
CLEVELAND, OH            65
HONOLULU, HI             64
MIAMI, FL                64
                       ...
HOUSTON TX, TX            1
FOREST PARK, GA           1
READS LANDING, MN         1
FREEPORT, MI              1
MOULTRIE, GA              1
COALGATE, OK              1
LYONS, OH                 1
OFALLON, MO               1
GALETON, PA               1
BUTTE FALLS, OR           1
FREEPORT, TX              1
N FT MYERS, FL            1
WARREN, AR                1
COLE CAMP, MO             1
MONMOUTH, ME              1
NOTTINGHAM, NH            1
ELIZABETH CIT, NC         1
GRAND COULEE, WA          1
BAY PORT, MI              1
DUNDEE, NY                1
ISLE, MN                  1
DIX HILLS, NY             1
FLORESVILLE, TX           1
SANTA ROSA BEACH, FL      1
N MANCHESTER, IN          1
BEOOKFIELD, WI            1
LAKE BUTLER, FL           1
SOUTH FORK, CO            1
BASEHOR, KS               1
GREENVILLE, AL            1
Name: CITY, Length: 12022, dtype: int64

<p>Now, let's create a new database with each city and the amount of museums in each.</p>

In [12]:
MUSEUM_CITIES = MUSEUM.CITY.value_counts()

In [13]:
MUSEUM_CITIES.head()

NEW YORK, NY        297
CHICAGO, IL         193
WASHINGTON, DC      188
PHILADELPHIA, PA    179
LOS ANGELES, CA     162
Name: CITY, dtype: int64

<p>Eventually, we should adjust this for population, but 12,022 is a lot of cities to do that with.</p>
<p>So let's leave that database there for now until we pare down our metro data, then we can match the cities with metros that are statistically significant with their museum score.</p>

<p><b>Let's find some more data to mess with</b></p>

### Home Prices
<p>This data is courtesy of the [National Association of Realtors](https://www.nar.realtor/topics/metropolitan-median-area-prices-and-affordability).

<p>The numbers are in thousands.</p>

In [14]:
HOME_PRICES = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/Homeprices.csv")

In [15]:
HOME_PRICES.head(1)

    CBSA Metropolitan Area   2014   2015   2016   2017 Change
0  10180       Abilene, TX  136.2  151.7  157.5  158.8   2.2%

<p>Again, we have created the dataframe, so let's just leave it here for now and continue.</p>

### Population, Migration and Births (Counties)
<p>Here we're doing essentially what we did above with metropolitan statistical areas, but with counties, to give us another option for a starting point.</p>
<p>Data is also courtesy of the [U.S. Census Bureau](https://www2.census.gov/programs-surveys/popest/datasets/2010-2016/counties/totals/co-est2016-alldata.csv)

In [16]:
df_COUNTY = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/COUNTY_POPULATION.csv")

In [17]:
df_COUNTY.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016
0,40,3,6,1,0,Alabama,Alabama,1Alabama,4779736,4780131,...,0.335703,0.086842,-0.642255,-0.177829,0.709411,1.062617,1.202226,1.065267,0.41167,0.797351

<p>Just as we did with metros, let's find the average net migration for the county dataframe.</p>

In [18]:
df_COUNTY['AVG_NETMIG'] = (df_COUNTY['NETMIG2010']/df_COUNTY['POPESTIMATE2010'] + df_COUNTY['NETMIG2011']/df['POPESTIMATE2011'] +
df_COUNTY['NETMIG2012']/df_COUNTY['POPESTIMATE2012'] + df_COUNTY['NETMIG2013']/df_COUNTY['POPESTIMATE2013'] +
df_COUNTY['NETMIG2014']/df_COUNTY['POPESTIMATE2014'] + df_COUNTY['NETMIG2015']/df_COUNTY['POPESTIMATE2015'] +
df_COUNTY['NETMIG2015']/df_COUNTY['POPESTIMATE2015'])/7

In [19]:
df_COUNTY.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG
0,40,3,6,1,0,Alabama,Alabama,1Alabama,4779736,4780131,...,0.086842,-0.642255,-0.177829,0.709411,1.062617,1.202226,1.065267,0.41167,0.797351,0.003574

<p>Now let's look at population change.</p>

In [20]:
df_COUNTY['POP_CHANGE'] = (df_COUNTY['POPESTIMATE2016'] - df_COUNTY['POPESTIMATE2010']) / df_COUNTY['POPESTIMATE2010']

In [21]:
df_COUNTY.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE
0,40,3,6,1,0,Alabama,Alabama,1Alabama,4779736,4780131,...,-0.642255,-0.177829,0.709411,1.062617,1.202226,1.065267,0.41167,0.797351,0.003574,0.016259

<p>And again, despite some questions about births as an indicator, let's add births per capita to this whole mix.</p>

In [22]:
df_COUNTY['BIRTHS_PER_CAPITA'] = df_COUNTY['BIRTHS2016']/df_COUNTY['POPESTIMATE2016']

In [23]:
df_COUNTY.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA
0,40,3,6,1,0,Alabama,Alabama,1Alabama,4779736,4780131,...,-0.177829,0.709411,1.062617,1.202226,1.065267,0.41167,0.797351,0.003574,0.016259,0.01204

In [24]:
df_COUNTY.sort_values("BIRTHS_PER_CAPITA", ascending=False).head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA
935,50,2,4,20,61,Kansas,Geary County,20Geary County,34362,34362,...,-67.137955,-24.821138,50.185671,-52.458578,-29.819912,-15.448733,-62.177023,-0.010968,0.008559,0.030012

<p>Hmmmm. Some very interesting counties ranking high there!</p>
<p>Let's leave that, and look at some economic statistics</p>

### Local Economic Indicators
<p>Data is courtesy of the [The U.S. Census Bureau](https://www.census.gov/data/tables/2016/demo/income-poverty/p60-256.html).

In [25]:
UNEMPLOYMENT = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/LOCAL_ECONOMICS.csv")

In [26]:
UNEMPLOYMENT.head(1)

,CTYNAME,CODE,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,Alabama,1Alabama,Alabama,6.0,"44,833",100.0

<p>You'll probably notice a weird variable in there called CODE. (Actually, since you're smart enough to look at the methodology for this study you probably noticed back in the county population data.)</p>
<p>I had to use some trickery to create a variable we could use to merge df_COUNTY and EMPLOYMENT. I did that by concatenating the state code number and the county name. I did this because there are tons of counties with the same name.</p>

In [27]:
UNEMPLOYMENT.CODE.head(1)

0    1Alabama
Name: CODE, dtype: object

<p>Now we just have to merge the two data frames, so we can work from the same place.</p> 
<p>This should give us a good snapshot of each county's economy, which we can use as a starting point for our analysis</p>

In [28]:
MERGED = pd.merge(df_COUNTY, UNEMPLOYMENT, on='CODE')

In [29]:
MERGED.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME_x,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,40,3,6,1,0,Alabama,Alabama,1Alabama,4779736,4780131,...,0.411670,0.797351,0.003574,0.016259,0.012040,Alabama,Alabama,6.0,"44,833",100.0
1,50,3,6,1,1,Alabama,Autauga County,1Autauga County,54571,54571,...,-2.654256,4.255281,0.002164,0.012312,0.011387,Autauga County,"Autauga County, AL",5.3,"56,580",126.2
2,50,3,6,1,3,Alabama,Baldwin County,1Baldwin County,182265,182265,...,18.585398,20.807611,0.035265,0.138451,0.010903,Baldwin County,"Baldwin County, AL",5.4,"52,387",116.8
3,50,3,6,1,5,Alabama,Barbour County,1Barbour County,27457,27457,...,-16.819716,-9.686991,-0.007925,-0.050570,0.009744,Barbour County,"Barbour County, AL",8.6,"31,433",70.1
4,50,3,6,1,7,Alabama,Bibb County,1Bibb County,22915,22919,...,0.887469,2.300681,-0.001537,-0.009536,0.011748,Bibb County,"Bibb County, AL",6.6,"40,767",90.9

In [30]:
MERGED.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3193 entries, 0 to 3192
Columns: 125 entries, SUMLEV to Med_HH_Income_Percent_of_State_Total_2015
dtypes: float64(41), int64(78), object(6)
memory usage: 3.1+ MB

<p>As you can see, we end up with 3,193 entries, so we didn't lose any observations. Nice.</p>
<p>Still, you'll also notice I left states in there. I might do something with those later.</p>

### Cities (ALL OF THEM!!!)

<p>Now the problem we're going to deal with, is that counties are not cities.</p>
<p>So, I've assembled a list of (what I believe is) every city in the U.S. Now we have to figure out how to match the data.</p>
<p>Let's load this sucker in.</p>

In [31]:
cities = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/ALL_US_CITIES/csv/us-cities.csv")

In [32]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45619 entries, 0 to 45618
Data columns (total 16 columns):
id               45619 non-null int64
name             45619 non-null object
county           45619 non-null object
state_code       45619 non-null object
state            45619 non-null object
zip_codes        45619 non-null object
type             45619 non-null object
latitude         45619 non-null float64
longitude        45619 non-null float64
area_code        45619 non-null object
population       45619 non-null int64
households       45619 non-null int64
median_income    45619 non-null int64
land_area        45619 non-null int64
water_area       45619 non-null int64
time_zone        45619 non-null object
dtypes: float64(2), int64(6), object(8)
memory usage: 5.6+ MB

<p>This looks clean, and with 45,619, we probably have most of the cities in the U.S.</p>

In [34]:
cities.head(1)

,id,name,county,state_code,state,zip_codes,type,latitude,longitude,area_code,population,households,median_income,land_area,water_area,time_zone
0,1,Adak,Aleutians West Census Area,AK,Alaska,99546,City,51.88,-176.65806,907,329,36,78500,88011658,88530676,America/Adak

<p>First we have to create a variable that is common between the two lists. We'll now concatenate the county name and state to create such a variable.</p>

In [33]:
cities['MATCH'] = cities['county'] + ", " + cities['state']

In [39]:
cities.head(1)

,id,name,county,state_code,state,zip_codes,type,latitude,longitude,area_code,population,households,median_income,land_area,water_area,time_zone,MATCH
0,1,Adak,Aleutians West Census Area,AK,Alaska,99546,City,51.88,-176.65806,907,329,36,78500,88011658,88530676,America/Adak,"Aleutians West Census Area, Alaska"

In [40]:
MERGED['MATCH'] = MERGED['CTYNAME_x'] + ", " + MERGED['STNAME']

In [41]:
MERGED.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME_x,CODE,CENSUS2010POP,ESTIMATESBASE2010,...,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015,MATCH
0,40,3,6,1,0,Alabama,Alabama,1Alabama,4779736,4780131,...,0.797351,0.003574,0.016259,0.01204,Alabama,Alabama,6.0,"44,833",100.0,"Alabama, Alabama"

In [42]:
df_location = pd.merge(cities, MERGED, on='MATCH')

In [43]:
df_location.head()

,id,name,county,state_code,state,zip_codes,type,latitude,longitude,area_code,...,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,CTYNAME_y,Area_name,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,1,Adak,Aleutians West Census Area,AK,Alaska,99546,City,51.88000,-176.65806,907,...,-9.375814,-21.429826,0.000297,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
1,21,Atka,Aleutians West Census Area,AK,Alaska,99547,City,52.19611,-174.20056,907,...,-9.375814,-21.429826,0.000297,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
2,24,Attu Station,Aleutians West Census Area,AK,Alaska,96950,CDP,52.88025,173.25608,907,...,-9.375814,-21.429826,0.000297,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
3,225,Nikolski,Aleutians West Census Area,AK,Alaska,99638,CDP,52.93806,-168.86778,907,...,-9.375814,-21.429826,0.000297,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0
4,304,St. George,Aleutians West Census Area,AK,Alaska,99591,City,56.60000,-169.54167,907,...,-9.375814,-21.429826,0.000297,0.018211,0.005313,Aleutians West Census Area,"Aleutians West Census Area, AK",3.3,"80,695",110.0

In [44]:
df_location.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44343 entries, 0 to 44342
Columns: 142 entries, id to Med_HH_Income_Percent_of_State_Total_2015
dtypes: float64(43), int64(84), object(15)
memory usage: 48.4+ MB

<p>Now, I'm going to send it off-site to examine and clean up in Excel.</p>

In [48]:
df_location.to_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/locations.csv")

<p>OK, now I'll read it back in. I'm just going to use the standard df marking for our big data set.</p>

In [49]:
df = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/locations.csv")

In [50]:
df.head(1)

,name,county,state,zip_codes,type,latitude,longitude,area_code,population,households,...,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,Adak,Aleutians West Census Area,Alaska,99546,City,51.88,-176.65806,907,329,36,...,5586,5688,5715,5780,0.000297,0.018211,0.005313,3.3,"80,695",110.0

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38415 entries, 0 to 38414
Data columns (total 26 columns):
name                                         38415 non-null object
county                                       38415 non-null object
state                                        38415 non-null object
zip_codes                                    38415 non-null object
type                                         38415 non-null object
latitude                                     38415 non-null float64
longitude                                    38415 non-null float64
area_code                                    38415 non-null object
population                                   38415 non-null int64
households                                   38415 non-null int64
median_income                                38415 non-null int64
land_area                                    38415 non-null int64
water_area                                   38415 non-null int64
CENSUS2010POP                                38415 non-null int64
ESTIMATESBASE2010                            38415 non-null int64
POPESTIMATE2010                              38415 non-null int64
POPESTIMATE2011                              38415 non-null int64
POPESTIMATE2012                              38415 non-null int64
POPESTIMATE2013                              38415 non-null int64
POPESTIMATE2014                              38415 non-null int64
AVG_NETMIG                                   38351 non-null float64
POP_CHANGE                                   38415 non-null float64
BIRTHS_PER_CAPITA                            38415 non-null float64
Unemployment_rate_2016                       38415 non-null float64
Median_Household_Income_2015                 38415 non-null object
Med_HH_Income_Percent_of_State_Total_2015    38415 non-null float64
dtypes: float64(7), int64(12), object(7)
memory usage: 7.6+ MB

In [55]:
df.sort_values('median_income' , ascending=True)

,name,county,state,zip_codes,type,latitude,longitude,area_code,population,households,...,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
2446,Sugarloaf Saw Mill,Tulare County,California,93260,CDP,35.83551,-118.61898,661,0,0,...,447384,450701,453354,456115,-0.005729,0.039166,0.016452,11.0,"42,637",66.1
26815,Moquino,Cibola County,New Mexico,87014,CDP,35.17254,-107.36894,505,0,0,...,27508,27316,27439,27303,-0.003630,0.006334,0.013279,8.3,"35,580",78.2
2312,Hoopa,Humboldt County,California,95546,CDP,41.05041,-123.67422,530 / 707,0,0,...,135243,134663,134555,134665,0.000322,0.011953,0.010802,4.9,"40,739",63.2
5140,Martinez,Starr County,Texas,78582,CDP,26.42216,-98.75291,956,0,0,...,61680,61883,62375,63036,-0.009453,0.048259,0.020757,13.6,"28,292",50.8
3411,Lynn,Las Animas County,Colorado,81020,CDP,37.42724,-104.64110,719,0,0,...,15027,14967,14401,14072,-0.011808,-0.083745,0.008438,5.2,"38,858",60.8
2507,Twain,Plumas County,California,95984,CDP,40.02017,-121.07190,530,0,0,...,19691,19327,18844,18573,-0.008195,-0.064816,0.007623,9.6,"46,813",72.6
251,Susitna,Matanuska-Susitna Borough,Alaska,99667 / 99695,CDP,61.54361,-150.51250,907,0,0,...,91831,93791,95923,98196,0.020144,0.162634,0.014507,8.1,"76,601",104.4
3433,Rock Creek Park,El Paso County,Colorado,80926,CDP,38.70249,-104.83914,719,0,0,...,636901,645641,654993,662647,0.006073,0.097829,0.013975,3.8,"60,050",93.9
2504,Storrie,Plumas County,California,95915 / 95980,CDP,39.91739,-121.32330,530,0,0,...,19691,19327,18844,18573,-0.008195,-0.064816,0.007623,9.6,"46,813",72.6
5075,Benjamin Perez,Starr County,Texas,78582,CDP,26.40603,-98.89965,956,0,0,...,61680,61883,62375,63036,-0.009453,0.048259,0.020757,13.6,"28,292",50.8
6356,Guerra,Jim Hogg County,Texas,78360 / 78361,CDP,26.88310,-98.89364,361,0,0,...,5276,5261,5226,5261,-0.008637,-0.026485,0.017295,9.6,"36,048",64.8
26932,San Luis,Sandoval County,New Mexico,87053,CDP,35.68253,-107.05060,575,0,0,...,134246,135383,136482,137540,0.007577,0.072939,0.010343,6.7,"62,833",138.0
6360,Thompsonville,Jim Hogg County,Texas,78361,CDP,27.20559,-98.94031,361,0,0,...,5276,5261,5226,5261,-0.008637,-0.026485,0.017295,9.6,"36,048",64.8
2306,Fairhaven,Humboldt County,California,95564,CDP,40.78513,-124.20284,707,0,0,...,135243,134663,134555,134665,0.000322,0.011953,0.010802,4.9,"40,739",63.2
5074,Barrera,Starr County,Texas,78582,CDP,26.39254,-98.89850,956,0,0,...,61680,61883,62375,63036,-0.009453,0.048259,0.020757,13.6,"28,292",50.8
248,Petersville,Matanuska-Susitna Borough,Alaska,99683,CDP,62.49639,-150.76556,907,0,0,...,91831,93791,95923,98196,0.020144,0.162634,0.014507,8.1,"76,601",104.4
24346,Larson,Burke County,North Dakota,58727,CDP,48.88975,-102.85851,701,0,0,...,2049,2162,2286,2237,0.017092,0.122001,0.018653,4.9,"68,477",111.0
26809,Fence Lake,Cibola County,New Mexico,87315,CDP,34.65338,-108.67785,505,0,0,...,27508,27316,27439,27303,-0.003630,0.006334,0.013279,8.3,"35,580",78.2
4218,Lake Harbor,Palm Beach County,Florida,33440 / 33459,CDP,26.69312,-80.81451,863,0,0,...,1336175,1354987,1375619,1397526,0.043667,0.090576,0.010179,4.8,"56,638",114.6
26602,Zarephath,Somerset County,New Jersey,08873 / 08890,CDP,40.53649,-74.57460,848,0,0,...,326716,328580,330962,332120,0.006007,0.029594,0.009690,4.1,"99,059",136.9
3540,Norrie,Pitkin County,Colorado,81642,CDP,39.32471,-106.65559,970,0,0,...,17129,17223,17361,17595,0.004404,0.034619,0.007154,3.4,"76,663",119.9
32078,Monroe,Le Flore County,Oklahoma,74940 / 74947 / 74953,CDP,34.99260,-94.51689,918,0,0,...,50253,49983,49928,49922,-0.002776,-0.011946,0.012833,7.0,"38,261",78.7
296,Tolsona,Valdez-Cordova Census Area,Alaska,99588,CDP,62.08389,-146.07028,907,0,0,...,9737,9729,9764,9453,-0.012848,-0.031273,0.014110,8.2,"70,101",95.5
26758,La Joya,Socorro County,New Mexico,87028,CDP,34.34618,-106.84558,505,0,0,...,17817,17524,17525,17320,-0.008095,-0.043588,0.011746,7.5,"33,673",74.0
6279,Ramireno,Zapata County,Texas,78067,CDP,27.00698,-99.38476,956,0,0,...,14195,14235,14358,14338,0.008130,0.019467,0.019723,11.0,"35,754",64.2
6707,Clear Creek,Carbon County,Utah,84526,CDP,39.64580,-111.15239,435,0,0,...,21329,21242,20935,20659,-0.005987,-0.047710,0.013089,5.9,"47,894",76.1
289,Nabesna,Valdez-Cordova Census Area,Alaska,99586,CDP,62.37194,-143.00861,907,0,0,...,9737,9729,9764,9453,-0.012848,-0.031273,0.014110,8.2,"70,101",95.5
1570,Greer,Apache County,Arizona,85927,CDP,34.01005,-109.45870,928,0,0,...,72391,72968,72021,72034,-0.005122,0.018826,0.013746,11.3,"31,072",60.4
7913,Ketron Island,Pierce County,Washington,98388,CDP,47.15628,-122.63413,253,0,0,...,803190,811674,818619,830198,-0.006123,0.082816,0.013671,6.3,"60,168",93.9
26774,Canova,Rio Arriba County,New Mexico,87582,CDP,36.15919,-105.98502,505,0,0,...,40313,40254,40058,39742,-0.006910,-0.006698,0.012637,7.5,"37,319",82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28442,Scarsdale,Westchester County,New York,10583,Village,41.00510,-73.78458,914,17909,5487,...,957052,961073,967377,970255,0.008697,0.025199,0.010792,4.2,"85,688",140.9
23446,Ree,Ward County,North Dakota,58718 / 58734,Township,48.42303,-101.89747,701,19,11,...,64353,65554,68031,69595,0.013282,0.130341,0.018843,4.2,"61,170",99.2
3447,Crisman,Boulder County,Colorado,80302,CDP,40.04082,-105.36138,303,278,109,...,300597,305350,310287,313204,0.040073,0.088664,0.009034,2.7,"72,392",113.2
23784,Big Bend,Mountrail County,North Dakota,58763,Township,47.88383,-102.58371,701,36,14,...,8107,8741,9336,9751,0.037176,0.326684,0.017770,3.1,"65,606",106.4
23740,Frederick,Divide County,North Dakota,58730 / 58795 / 58830,Township,48.69119,-103.33105,701,18,29,...,2141,2239,2318,2428,0.020812,0.161213,0.012847,2.7,"62,922",102.0
21211,Moss Creek,Carroll County,Missouri,64633 / 64668,Township,39.31002,-93.58817,660,98,20,...,9257,9096,9097,8995,-0.005030,-0.040478,0.010322,5.4,"43,638",86.9
23215,Gill,Cass County,North Dakota,58079,Township,46.84356,-97.36402,701,116,41,...,152925,157040,163246,167203,0.018730,0.166243,0.015099,2.3,"55,946",90.7
37321,Eden,Clark County,South Dakota,57225 / 57236 / 57243,Township,44.92758,-97.55559,605,62,16,...,3596,3587,3633,3656,-0.001044,-0.010555,0.016958,3.7,"60,544",113.7
23375,Felson,Pembina County,North Dakota,58220 / 58265,Township,48.94597,-97.62212,701,82,29,...,7386,7262,7158,7118,-0.007467,-0.044342,0.012166,5.1,"58,683",95.2
37049,Lone Rock,Moody County,South Dakota,56164 / 57028,Township,43.98035,-96.48907,605,99,34,...,6484,6457,6429,6406,-0.004745,0.003858,0.014758,3.4,"54,729",102.8
24649,Superior,Eddy County,North Dakota,58356,Township,47.63533,-99.06378,701,53,21,...,2351,2372,2390,2364,0.005598,-0.010076,0.012299,4.5,"47,804",77.5
24861,Corner,Custer County,Nebraska,68874,Township,41.69790,-99.26959,308,21,10,...,10869,10788,10787,10735,-0.000655,-0.009895,0.012955,2.5,"51,014",92.6
36821,Bangor,Brookings County,South Dakota,57071 / 57212,Township,44.31871,-97.05851,605,144,79,...,32128,32700,33084,33357,0.004522,0.066152,0.012714,2.6,"55,749",104.7
23560,Sauk Valley,Williams County,North Dakota,58755 / 58795 / 58852,Township,48.58372,-102.94426,701,73,14,...,24407,26741,29608,32143,0.066258,0.520278,0.022745,4.4,"89,860",145.7
6843,Greenbackville,Accomack County,Virginia,23356,CDP,38.01151,-75.39020,757,190,67,...,33292,33324,33012,33024,0.115280,-0.006543,0.011473,4.8,"38,690",58.4
24181,Pratt,McHenry County,North Dakota,58731 / 58762 / 58789,Township,48.58181,-100.98382,701,52,17,...,5492,5783,5891,5958,0.010647,0.104873,0.012242,5.1,"56,351",91.4
24168,Lake Hester,McHenry County,North Dakota,58744 / 58792,Township,48.05873,-100.70165,701,50,28,...,5492,5783,5891,5958,0.010647,0.104873,0.012242,5.1,"56,351",91.4
37231,Prairie Center,Spink County,South Dakota,57436 / 57440,Township,44.93713,-98.15619,605,81,10,...,6501,6650,6579,6567,-0.002225,0.001560,0.010436,2.9,"46,504",87.3
37221,Jefferson,Spink County,South Dakota,57424 / 57465,Township,45.02896,-98.45805,605,60,28,...,6501,6650,6579,6567,-0.002225,0.001560,0.010436,2.9,"46,504",87.3
13167,Washington,Sherman County,Kansas,67733 / 67735,Township,39.32982,-101.55852,785,84,23,...,6033,6106,6077,6064,-0.005090,-0.007322,0.012741,3.5,"42,491",79.0
23888,Pleasant Hill,Kidder County,North Dakota,58482 / 58532,Township,46.85757,-100.01419,701,55,16,...,2443,2431,2420,2421,-0.003835,-0.010250,0.010356,3.9,"46,800",75.9
36671,Prairiewood,Brown County,South Dakota,57401,Township,45.50938,-98.41940,605,282,130,...,36978,37597,38258,38469,0.007222,0.067583,0.012293,2.5,"52,065",97.8
23631,Arnegard (Township),McKenzie County,North Dakota,58831 / 58835,Township,47.80093,-103.48694,701,85,32,...,7005,7963,9255,10960,0.093562,0.972648,0.023295,3.8,"82,906",134.4
12051,Jackson,Sumner County,Kansas,67140 / 67152,Township,37.16993,-97.41580,620,135,15,...,23845,23701,23609,23471,-0.002697,-0.034197,0.011043,4.4,"51,451",95.6
23824,Ross (Township),Mountrail County,North Dakota,58776 / 58784,Township,48.33447,-102.49375,701,50,41,...,8107,8741,9336,9751,0.037176,0.326684,0.017770,3.1,"65,606",106.4
23790,Crowfoot,Mountrail County,North Dakota,58734 / 58769,Township,48.49565,-102.19056,701,20,24,...,8107,8741,9336,9751,0.037176,0.326684,0.017770,3.1,"65,606",106.4
23787,Clearwater,Mountrail County,North Dakota,58769 / 58784,Township,48.41814,-102.30278,701,64,12,...,8107,8741,9336,9751,0.037176,0.326684,0.017770,3.1,"65,606",106.4
23714,Wadsworth,Stutsman County,North Dakota,58496,Township,47.20346,-99.28025,701,21,11,...,21014,20983,21132,21190,0.000565,0.000189,0.011217,2.5,"54,925",89.1
23715,Walters,Stutsman County,North Dakota,58421 / 58476,Township,47.27659,-99.03301,701,45,9,...,21014,20983,21132,21190,0.000565,0.000189,0.011217,2.5,"54,925",89.1
23192,Briarwood,Cass County,North Dakota,58104,City,46.78608,-96.79703,701,75,20,...,152925,157040,163246,167203,0.018730,0.166243,0.015099,2.3,"55,946",90.7

In [56]:
df['migration_z'] = (df['AVG_NETMIG'] - df.AVG_NETMIG.mean()) / df.AVG_NETMIG.std()

In [58]:
df.head(1)

,name,county,state,zip_codes,type,latitude,longitude,area_code,population,households,...,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA,Unemployment_rate_2016,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015,migration_z
0,Adak,Aleutians West Census Area,Alaska,99546,City,51.88,-176.65806,907,329,36,...,5688,5715,5780,0.000297,0.018211,0.005313,3.3,"80,695",110.0,-0.02819