# ‘Affordable Places to Raise a Family’ Analysis

by Alex Mahadevan

In [1]:
import pandas as pd

### Population, Migration and Births

<p>Let's read in the population dataset from 2010 - 2016. As a plus it has births and migration data we can use in the analysis.</p>
<p>Data is courtesy of the [U.S. Census Bureau](https://www2.census.gov/programs-surveys/popest/datasets/2010-2016/metro/totals/cbsa-est2016-alldata.csv).</p>

In [2]:
df = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/cbsa-est2016-alldata.csv")

<p>If people are moving to a county or metropolitan area, that probably means it's a good place to live.</p>

<p>So we'll go ahead and create a new variable that takes into account the average annual net migration to a region called AVG_NETMIG. The higher the number, the greater average migration to the municipality.</p>
<p>But, wait. Won't way more people be moving to a huge city like Miami than a smaller one like Sarasota?</p>
<p>To control for population amount, let's find the net migration per capita by diving net migration in each year by the population estimate for that year.</p>

In [3]:
df['AVG_NETMIG'] = (df['NETMIG2010']/df['POPESTIMATE2010'] + df['NETMIG2011']/df['POPESTIMATE2011'] +
df['NETMIG2012']/df['POPESTIMATE2012'] + df['NETMIG2013']/df['POPESTIMATE2013'] +
df['NETMIG2014']/df['POPESTIMATE2014'] + df['NETMIG2015']/df['POPESTIMATE2015'] +
df['NETMIG2015']/df['POPESTIMATE2015'])/7

<p>But, we also want to take into account the overall change in population between 2010 and 2016.</p>

<p>So we will create a new variable called POP_CHANGE.</p>

In [4]:
df['POP_CHANGE'] = (df['POPESTIMATE2016'] - df['POPESTIMATE2010']) / df['POPESTIMATE2010']

<p>You probably want to raise a family where other people are raising a family right?</p>
<p>This statistics may not be the best (since sometimes high birth rates correlate with poverty), but let's create a new variable for births per capita for 2016.</p>
<p>We shall call it BIRTHS_PER_CAPITA.</p>

In [5]:
df['BIRTHS_PER_CAPITA'] = df['BIRTHS2016']/df['POPESTIMATE2016']

<p>Are there any other variables we can create that would be important to someone looking to raise a family?</p>

<p>Not from this dataset, but while we're thinking about it, let's drill it down to the 382 metropolitan statistical areas.</p>

<p>First, let's count the number of types in the variable LSAD to make sure we have 382.</p>

In [6]:
df.LSAD.value_counts()

County or equivalent             1825
Micropolitan Statistical Area     551
Metropolitan Statistical Area     382
Metropolitan Division              31
Name: LSAD, dtype: int64

<p>Success! Now, let's drill it down by creating a new dataframe called MSA_POP.</p>

In [7]:
MSA_POP = df[df.LSAD == 'Metropolitan Statistical Area']

<p><b>Let's just leave that there for now, and explore other variables we can add to this analysis.</b></p>

### Museums

<p>I found a data set that has all of the museums in cities, let's have a look at that.</p>

In [8]:
MUSEUM = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/Workbook1.csv")

In [9]:
MUSEUM.head()

        ADCITY ADSTATE       Unnamed: 2
0        SITKA      AK        SITKA, AK
1  KING SALMON      AK  KING SALMON, AK
2    FAIRBANKS      AK    FAIRBANKS, AK
3       PALMER      AK       PALMER, AK
4       KODIAK      AK       KODIAK, AK

<p>As you can see, we need to concatenate the city and state variables since there are a ton of similarly named cities throughout U.S. states</p>

In [10]:
MUSEUM['CITY'] = MUSEUM['ADCITY'] + ", " + MUSEUM['ADSTATE']

In [11]:
MUSEUM.CITY.value_counts()

NEW YORK, NY            297
CHICAGO, IL             193
WASHINGTON, DC          188
PHILADELPHIA, PA        179
LOS ANGELES, CA         162
HOUSTON, TX             133
BALTIMORE, MD           120
SAN FRANCISCO, CA       119
SEATTLE, WA             103
AUSTIN, TX               96
PORTLAND, OR             96
SAN DIEGO, CA            96
DALLAS, TX               94
BOSTON, MA               93
DENVER, CO               89
ATLANTA, GA              87
PITTSBURGH, PA           84
BROOKLYN, NY             77
LOUISVILLE, KY           76
CINCINNATI, OH           76
NEW ORLEANS, LA          72
MILWAUKEE, WI            70
RICHMOND, VA             69
SAN ANTONIO, TX          69
ALBUQUERQUE, NM          68
TUCSON, AZ               68
HUGO, OK                 67
CLEVELAND, OH            65
HONOLULU, HI             64
MIAMI, FL                64
                       ...
HOUSTON TX, TX            1
FOREST PARK, GA           1
READS LANDING, MN         1
FREEPORT, MI              1
MOULTRIE, GA              1
COALGATE, OK              1
LYONS, OH                 1
OFALLON, MO               1
GALETON, PA               1
BUTTE FALLS, OR           1
FREEPORT, TX              1
N FT MYERS, FL            1
WARREN, AR                1
COLE CAMP, MO             1
MONMOUTH, ME              1
NOTTINGHAM, NH            1
ELIZABETH CIT, NC         1
GRAND COULEE, WA          1
BAY PORT, MI              1
DUNDEE, NY                1
ISLE, MN                  1
DIX HILLS, NY             1
FLORESVILLE, TX           1
SANTA ROSA BEACH, FL      1
N MANCHESTER, IN          1
BEOOKFIELD, WI            1
LAKE BUTLER, FL           1
SOUTH FORK, CO            1
BASEHOR, KS               1
GREENVILLE, AL            1
Name: CITY, Length: 12022, dtype: int64

<p>Now, let's create a new database with each city and the amount of museums in each.</p>

In [12]:
MUSEUM_CITIES = MUSEUM.CITY.value_counts()

In [13]:
MUSEUM_CITIES.head()

NEW YORK, NY        297
CHICAGO, IL         193
WASHINGTON, DC      188
PHILADELPHIA, PA    179
LOS ANGELES, CA     162
Name: CITY, dtype: int64

<p>Eventually, we should adjust this for population, but 12,022 is a lot of cities to do that with.</p>
<p>So let's leave that database there for now until we pare down our metro data, then we can match the cities with metros that are statistically significant with their museum score.</p>

<p><b>Let's find some more data to mess with</b></p>

### Home Prices
<p>This data is courtesy of the [National Association of Realtors](https://www.nar.realtor/topics/metropolitan-median-area-prices-and-affordability).

<p>The numbers are in thousands.</p>

In [14]:
HOME_PRICES = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/Homeprices.csv")

In [15]:
HOME_PRICES.head(1)

    CBSA Metropolitan Area   2014   2015   2016   2017 Change
0  10180       Abilene, TX  136.2  151.7  157.5  158.8   2.2%

<p>Again, we have created the dataframe, so let's just leave it here for now and continue.</p>

### Population, Migration and Births (Counties)
<p>Here we're doing essentially what we did above with metropolitan statistical areas, but with counties, to give us another option for a starting point.</p>
<p>Data is also courtesy of the [U.S. Census Bureau](https://www2.census.gov/programs-surveys/popest/datasets/2010-2016/counties/totals/co-est2016-alldata.csv)

In [18]:
df_COUNTY = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/co-est2016-alldata.csv")

In [19]:
df_COUNTY.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016
0,40,3,6,1,0,Alabama,Alabama,4779736,4780131,4785492,...,0.335703,0.086842,-0.642255,-0.177829,0.709411,1.062617,1.202226,1.065267,0.41167,0.797351

<p>Just as we did with metros, let's find the average net migration for the county dataframe.</p>

In [20]:
df_COUNTY['AVG_NETMIG'] = (df_COUNTY['NETMIG2010']/df_COUNTY['POPESTIMATE2010'] + df_COUNTY['NETMIG2011']/df['POPESTIMATE2011'] +
df_COUNTY['NETMIG2012']/df_COUNTY['POPESTIMATE2012'] + df_COUNTY['NETMIG2013']/df_COUNTY['POPESTIMATE2013'] +
df_COUNTY['NETMIG2014']/df_COUNTY['POPESTIMATE2014'] + df_COUNTY['NETMIG2015']/df_COUNTY['POPESTIMATE2015'] +
df_COUNTY['NETMIG2015']/df_COUNTY['POPESTIMATE2015'])/7

In [21]:
df_COUNTY.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG
0,40,3,6,1,0,Alabama,Alabama,4779736,4780131,4785492,...,0.086842,-0.642255,-0.177829,0.709411,1.062617,1.202226,1.065267,0.41167,0.797351,0.003574

<p>Now let's look at population change.</p>

In [22]:
df_COUNTY['POP_CHANGE'] = (df_COUNTY['POPESTIMATE2016'] - df_COUNTY['POPESTIMATE2010']) / df_COUNTY['POPESTIMATE2010']

In [23]:
df_COUNTY.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE
0,40,3,6,1,0,Alabama,Alabama,4779736,4780131,4785492,...,-0.642255,-0.177829,0.709411,1.062617,1.202226,1.065267,0.41167,0.797351,0.003574,0.016259

<p>And again, despite some questions about births as an indicator, let's add births per capita to this whole mix.</p>

In [24]:
df_COUNTY['BIRTHS_PER_CAPITA'] = df_COUNTY['BIRTHS2016']/df_COUNTY['POPESTIMATE2016']

In [25]:
df_COUNTY.head(1)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA
0,40,3,6,1,0,Alabama,Alabama,4779736,4780131,4785492,...,-0.177829,0.709411,1.062617,1.202226,1.065267,0.41167,0.797351,0.003574,0.016259,0.01204

In [31]:
df_COUNTY.sort_values("BIRTHS_PER_CAPITA", ascending=False).head(3)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2016,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,AVG_NETMIG,POP_CHANGE,BIRTHS_PER_CAPITA
935,50,2,4,20,61,Kansas,Geary County,34362,34362,35284,...,-67.137955,-24.821138,50.185671,-52.458578,-29.819912,-15.448733,-62.177023,-0.010968,0.008559,0.030012
2971,50,3,5,51,600,Virginia,Fairfax city,22565,22542,22596,...,-9.355357,-2.119580,13.002596,12.469202,-4.461346,-3.766399,-0.668240,NaN,0.069393,0.028886
596,50,4,8,16,65,Idaho,Madison County,37536,37549,37605,...,-2.126005,-15.254237,-30.326666,-28.685153,-14.821273,-26.604685,-0.622245,-0.019215,0.038373,0.028350

<p>Hmmmm. Some very interesting counties ranking high there!</p>
<p>Let's leave that, and look at some economic statistics</p>

### Unemployment Rate
<p>Data is courtesy of the [U.S. Bureau of Labor Statistics](https://www.bls.gov/lau/#cntyaa).

In [40]:
EMPLOYMENT = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Raise a Family/laucnty16.csv")