In [1]:
import pandas as pd

In [4]:
commute = pd.read_csv("/Users/alexmahadevan/Desktop/commute times.csv")

In [5]:
NewCounty = []

In [6]:
NewState = []

In [8]:
commute.head()

                    County  Commute_time  state  county
0  Autauga County, Alabama          26.5      1       1
1  Baldwin County, Alabama          26.4      1       3
2  Barbour County, Alabama          24.1      1       5
3     Bibb County, Alabama          28.8      1       7
4   Blount County, Alabama          34.9      1       9

In [9]:
for row in commute['County']
try:
    NewCounty.append(row.split(',')[0])
    NewState.append(row.split(',')[1])

SyntaxError: invalid syntax (<ipython-input-9-b4e12c634f3e>, line 1)

In [10]:
for row in commute('County')
try:
    NewCounty.append(row.split(',')[0])
    NewState.append(row.split(',')[1])

SyntaxError: invalid syntax (<ipython-input-10-e55097bb019a>, line 1)

In [11]:
import numpy as np

In [12]:
for row in commute('County')
try:
    NewCounty.append(row.split(',')[0])
    NewState.append(row.split(',')[1])

SyntaxError: invalid syntax (<ipython-input-12-e55097bb019a>, line 1)

In [14]:
for row in commute['County']:
try:
    NewCounty.append(row.split(',')[0])
    NewState.append(row.split(',')[1])

IndentationError: expected an indented block (<ipython-input-14-c9c240f3bdfe>, line 2)

In [15]:
for row in commute('County')

try:

    NewCounty.append(row.split(',')[0])
    NewState.append(row.split(',')[1])

SyntaxError: invalid syntax (<ipython-input-15-bedda11abb9c>, line 1)

In [16]:
lat.head()

NameError: name 'lat' is not defined

In [17]:
NewCounty.head()

AttributeError: 'list' object has no attribute 'head'

In [18]:
for row in commute['County']:
try:
    NewCounty.append(row.split(',')[0])
    NewState.append(row.split(',')[1])

IndentationError: expected an indented block (<ipython-input-18-c9c240f3bdfe>, line 2)

In [19]:
raw_data = {'geo': ['40.0024, -105.4102', '40.0068, -105.266', '39.9318, -105.2813', np.nan]}
df = pd.DataFrame(raw_data, columns = ['geo'])
df

                  geo
0  40.0024, -105.4102
1   40.0068, -105.266
2  39.9318, -105.2813
3                 NaN

In [23]:
# Create two lists for the loop results to be placed
lat = []
lon = []

# For each row in a varible,
for row in commute['County']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        NewCounty.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        NewState.append(row.split(',')[1])

  

 # Create two new columns from lat and lon

commute['NewCounty'] = NewCounty
df['NewState'] = NewState

IndentationError: unexpected unindent (<ipython-input-23-72fcf89ac186>, line 20)

In [21]:
df.head()

                  geo latitude   longitude
0  40.0024, -105.4102  40.0024   -105.4102
1   40.0068, -105.266  40.0068    -105.266
2  39.9318, -105.2813  39.9318   -105.2813
3                 NaN      NaN         NaN

In [24]:
commute.head()

                    County  Commute_time  state  county
0  Autauga County, Alabama          26.5      1       1
1  Baldwin County, Alabama          26.4      1       3
2  Barbour County, Alabama          24.1      1       5
3     Bibb County, Alabama          28.8      1       7
4   Blount County, Alabama          34.9      1       9

In [25]:
# For each row in a varible,
for row in commute['County']:
    # Try to,
    try:
        # Split the row by comma and append
        # everything before the comma to lat
        NewCounty.append(row.split(',')[0])
        # Split the row by comma and append
        # everything after the comma to lon
        NewState.append(row.split(',')[1])
    # But if you get an error
    except:
        # append a missing value to lat
        NewCounty.append(np.NaN)
        # append a missing value to lon
        NewState.append(np.NaN)

# Create two new columns from lat and lon
commute['newcounty'] = lat
df['newstate'] = lon

ValueError: Length of values does not match length of index