In [2]:
import pandas as pd

In [3]:
survey_results = pd.read_csv("/Users/alexmahadevan/Desktop/Projects/Survey/SURVEY_WITH_DUMMIES.csv")

In [4]:
survey_results.head(1)

,Response_ID,Time_Started,Date_Submitted,Status,Contact ID,Legacy Comments,Comments,Language,Referer,Extended_Referer,...,benefits_parental_leave,benefits_401k,benefits_discounts,types_of_wfh_jobs,accommodate_vision,accommodate_hearing,accommodate_cognitive,accommodate_physical,visit_jobs_page,Please offer any suggestions you have for jobs coverage at The Penny Hoarder.
0,1,7/24/17 4:36,7/24/17 4:48,Complete,NaN,NaN,NaN,English,http://www.surveygizmo.com/s3/3720823/Work-Fro...,http://www.surveygizmo.com/s3/3720823/Work-Fro...,...,NaN,NaN,Product discounts,No preference,NaN,NaN,NaN,NaN,0.0,You actually do a pretty good job. It woukd be...

<p>Let's create a new dataframe that drops all of the partial responses.</p>
<p>That way we don't get tripped upo with too many blank responses.</p>

In [5]:
survey_results_complete = survey_results[survey_results.Status != 'Partial']

In [6]:
survey_results_complete.Status.value_counts()

Complete    2017
Name: Status, dtype: int64

<p>Now, let's break the dataframe into one for just men and one for just women.</p>

In [7]:
men = survey_results_complete[survey_results_complete.Gender == '0']

In [8]:
women = survey_results_complete[survey_results_complete.Gender == '1']

<p>Let's look at the disparity in salary demands between men and women.</p>

In [9]:
men.pay_preferred.value_counts().reset_index()

                 index  pay_preferred
0  $15/hour or greater            108
1         $10-$12/hour             67
2         $12-$14/hour             53
3          $8-$10/hour             31
4        Up to $8/hour              2

In [10]:
women.pay_preferred.value_counts().reset_index()

                 index  pay_preferred
0  $15/hour or greater            591
1         $10-$12/hour            512
2         $12-$14/hour            361
3          $8-$10/hour            240
4        Up to $8/hour             38

In [11]:
male_pay = men.pay_preferred.value_counts().reset_index()

In [12]:
female_pay = women.pay_preferred.value_counts().reset_index()

In [13]:
male_pay['percent'] = male_pay['pay_preferred'] / 261

In [14]:
male_pay.head()

                 index  pay_preferred   percent
0  $15/hour or greater            108  0.413793
1         $10-$12/hour             67  0.256705
2         $12-$14/hour             53  0.203065
3          $8-$10/hour             31  0.118774
4        Up to $8/hour              2  0.007663

In [15]:
female_pay['percent'] = female_pay['pay_preferred'] / 1742

In [16]:
female_pay.head()

                 index  pay_preferred   percent
0  $15/hour or greater            591  0.339265
1         $10-$12/hour            512  0.293915
2         $12-$14/hour            361  0.207233
3          $8-$10/hour            240  0.137773
4        Up to $8/hour             38  0.021814

<p>Here you see that 41% of men demanded the highest wage, while only 34% of women did that.</p> Men also had a smaller preference for low wages. 12% of men said they would work for $10 or less, while 16% of women said they would.</p>

In [17]:
survey_results_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2017 entries, 0 to 2099
Data columns (total 76 columns):
Response_ID                                                                      2017 non-null int64
Time_Started                                                                     2017 non-null object
Date_Submitted                                                                   2017 non-null object
Status                                                                           2017 non-null object
Contact ID                                                                       0 non-null float64
Legacy Comments                                                                  0 non-null float64
Comments                                                                         0 non-null float64
Language                                                                         2017 non-null object
Referer                                                                          2017 non-null object
Extended_Referer                                                                 2017 non-null object
SessionID                                                                        2017 non-null object
User _Agent                                                                      2017 non-null object
Extended_User_Agent                                                              2017 non-null object
Tags                                                                             0 non-null float64
IP_Address                                                                       2017 non-null object
Longitude                                                                        1987 non-null float64
Latitude                                                                         1987 non-null float64
Country                                                                          1987 non-null object
City                                                                             1890 non-null object
State                                                                            1958 non-null object
Zip                                                                              1883 non-null object
Name                                                                             2017 non-null object
Email                                                                            2017 non-null object
Gender                                                                           2015 non-null object
Age                                                                              2016 non-null object
current_work_situation                                                           2010 non-null float64
do_you_WFH                                                                       2013 non-null object
primary_WFH_situation                                                            1953 non-null object
other_WFH_situation                                                              0 non-null float64
Other:If you currently work from home, do you primarily:                         0 non-null float64
what_WFH_job_provide                                                             2002 non-null object
Other:Do you want a work-from-home job to provide:ï¿½ï¿½                             0 non-null float64
words_and_phrases_WFH                                                            1718 non-null object
words_and_phrases_homebased                                                      613 non-null object
words_and_phrases_athome                                                         378 non-null object
words_and_phrases_remote                                                         602 non-null object
words_and_phrases_telecommute                                                    485 non-null object
words_and_phrases_virtual                                                        338 non-null object
words_and_phrases_workfromanywhere                                               470 non-null object
words_and_phrases_comntractwork                                                  128 non-null object
words_and_phrases_freelancework                                                  287 non-null object
words_and_phrases_other1                                                         52 non-null object
words_and_phrases_other2                                                         50 non-null object
country                                                                          2016 non-null object
country_other                                                                    12 non-null object
education                                                                        2011 non-null object
hours_preferred                                                                  2016 non-null object
time_preferred                                                                   2016 non-null object
days_preferred                                                                   2016 non-null object
pay_preferred                                                                    2016 non-null object
field_medical                                                                    572 non-null object
field_customerservice                                                            1196 non-null object
fieldtech                                                                        228 non-null object
field_administrative                                                             1087 non-null object
field_education_and_training                                                     619 non-null object
field_sales                                                                      296 non-null object
field_writing                                                                    890 non-null object
field_other                                                                      279 non-null object
field_other2                                                                     276 non-null object
benefits_set_schedule                                                            237 non-null object
benefits_flexible_schedule                                                       1794 non-null object
benefits_paid_training                                                           1026 non-null object
benefits_PTO_vacation                                                            751 non-null object
benefits_equipment                                                               863 non-null object
benefits_phealthcare                                                             638 non-null object
benefits_dental_vision                                                           518 non-null object
benefits_parental_leave                                                          119 non-null object
benefits_401k                                                                    489 non-null object
benefits_discounts                                                               590 non-null object
types_of_wfh_jobs                                                                2016 non-null object
accommodate_vision                                                               85 non-null object
accommodate_hearing                                                              68 non-null object
accommodate_cognitive                                                            52 non-null object
accommodate_physical                                                             168 non-null object
visit_jobs_page                                                                  2012 non-null float64
Please offer any suggestions you have for jobs coverage at The Penny Hoarder.    443 non-null object
dtypes: float64(11), int64(1), object(64)
memory usage: 1.2+ MB